/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Activity
import org.openapitools.client.model.ActivityStatusUpdate
import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ActivityApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ActivityApi(baseUrl)
}

class ActivityApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Activity (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param activity 
   */
  def createActivity(activity: Activity)(implicit bearerToken: BearerToken): ApiRequest[Activity] =
    ApiRequest[Activity](ApiMethods.POST, baseUrl, "/api/v1/activities", "application/json")
      .withCredentials(bearerToken).withBody(activity)
      .withSuccessResponse[Activity](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param activityId 
   */
  def deleteActivity(activityId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/activities/{activity_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("activity_id", activityId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Activity (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param activityId 
   */
  def getActivity(activityId: String)(implicit bearerToken: BearerToken): ApiRequest[Activity] =
    ApiRequest[Activity](ApiMethods.GET, baseUrl, "/api/v1/activities/{activity_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("activity_id", activityId)
      .withSuccessResponse[Activity](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Activity] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param contactId 
   * @param activityType 
   * @param status 
   * @param assignedTo 
   * @param overdueOnly Only show overdue follow-ups.
   */
  def listActivities(page: Option[Int] = None, pageSize: Option[Int] = None, contactId: Option[String] = None, activityType: Option[String] = None, status: Option[String] = None, assignedTo: Option[String] = None, overdueOnly: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Activity]] =
    ApiRequest[Seq[Activity]](ApiMethods.GET, baseUrl, "/api/v1/activities/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withQueryParam("contactId", contactId)
      .withQueryParam("activityType", activityType)
      .withQueryParam("status", status)
      .withQueryParam("assignedTo", assignedTo)
      .withQueryParam("overdueOnly", overdueOnly)
      .withSuccessResponse[Seq[Activity]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Activity (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param activityId 
   * @param body 
   */
  def updateActivity(activityId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Activity] =
    ApiRequest[Activity](ApiMethods.PUT, baseUrl, "/api/v1/activities/{activity_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("activity_id", activityId)
      .withSuccessResponse[Activity](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Activity (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param activityId 
   * @param activityStatusUpdate 
   */
  def updateActivityStatus(activityId: String, activityStatusUpdate: ActivityStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[Activity] =
    ApiRequest[Activity](ApiMethods.PUT, baseUrl, "/api/v1/activities/{activity_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(activityStatusUpdate)
      .withPathParam("activity_id", activityId)
      .withSuccessResponse[Activity](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

