/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AiConfigDto
import org.openapitools.client.model.AiSuggestion
import org.openapitools.client.model.AiSuggestionRequest
import org.openapitools.client.model.AiWorkerConfig
import org.openapitools.client.model.PluginError
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AiApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new AiApi(baseUrl)
}

class AiApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : AiSuggestion (AI suggestion)
   *   code 500 : PluginError (AI error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param aiSuggestionRequest 
   */
  def aiSuggestApi(aiSuggestionRequest: AiSuggestionRequest)(implicit bearerToken: BearerToken): ApiRequest[AiSuggestion] =
    ApiRequest[AiSuggestion](ApiMethods.POST, baseUrl, "/api/v1/support/ai/suggest", "application/json")
      .withCredentials(bearerToken).withBody(aiSuggestionRequest)
      .withSuccessResponse[AiSuggestion](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : AiWorkerConfig (Worker created)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param aiConfigDto 
   */
  def createWorkerApi(aiConfigDto: AiConfigDto)(implicit bearerToken: BearerToken): ApiRequest[AiWorkerConfig] =
    ApiRequest[AiWorkerConfig](ApiMethods.POST, baseUrl, "/api/v1/support/ai/workers", "application/json")
      .withCredentials(bearerToken).withBody(aiConfigDto)
      .withSuccessResponse[AiWorkerConfig](201)
      

  /**
   * Expected answers:
   *   code 200 : Seq[AiWorkerConfig] (List AI workers)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listWorkersApi()(implicit bearerToken: BearerToken): ApiRequest[Seq[AiWorkerConfig]] =
    ApiRequest[Seq[AiWorkerConfig]](ApiMethods.GET, baseUrl, "/api/v1/support/ai/workers", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[AiWorkerConfig]](200)
      

  /**
   * Expected answers:
   *   code 200 : AiSuggestion (Worker executed)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param workerId 
   * @param aiSuggestionRequest 
   */
  def runWorkerApi(workerId: UUID, aiSuggestionRequest: AiSuggestionRequest)(implicit bearerToken: BearerToken): ApiRequest[AiSuggestion] =
    ApiRequest[AiSuggestion](ApiMethods.POST, baseUrl, "/api/v1/support/ai/workers/{worker_id}/run", "application/json")
      .withCredentials(bearerToken).withBody(aiSuggestionRequest)
      .withPathParam("worker_id", workerId)
      .withSuccessResponse[AiSuggestion](200)
      



}

