/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Attachment
import org.openapitools.client.model.AttachmentVersion
import org.openapitools.client.model.NewVersionRequest
import org.openapitools.client.model.PluginError
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AttachmentVersionApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new AttachmentVersionApi(baseUrl)
}

class AttachmentVersionApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : AttachmentVersion (New current version recorded)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param attachmentId 
   * @param newVersionRequest 
   */
  def createAttachmentVersion(attachmentId: UUID, newVersionRequest: NewVersionRequest)(implicit bearerToken: BearerToken): ApiRequest[AttachmentVersion] =
    ApiRequest[AttachmentVersion](ApiMethods.POST, baseUrl, "/api/v1/attachments/{attachment_id}/versions", "application/json")
      .withCredentials(bearerToken).withBody(newVersionRequest)
      .withPathParam("attachment_id", attachmentId)
      .withSuccessResponse[AttachmentVersion](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[AttachmentVersion] (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param attachmentId 
   */
  def listAttachmentVersions(attachmentId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Seq[AttachmentVersion]] =
    ApiRequest[Seq[AttachmentVersion]](ApiMethods.GET, baseUrl, "/api/v1/attachments/{attachment_id}/versions", "application/json")
      .withCredentials(bearerToken).withPathParam("attachment_id", attachmentId)
      .withSuccessResponse[Seq[AttachmentVersion]](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Attachment (Attachment restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param attachmentId 
   * @param versionId 
   */
  def restoreAttachmentVersion(attachmentId: UUID, versionId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Attachment] =
    ApiRequest[Attachment](ApiMethods.POST, baseUrl, "/api/v1/attachments/{attachment_id}/versions/{version_id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("attachment_id", attachmentId)
      .withPathParam("version_id", versionId)
      .withSuccessResponse[Attachment](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

