/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Attachment
import org.openapitools.client.model.AttachmentCreate
import org.openapitools.client.model.OcrTextRequest
import org.openapitools.client.model.PluginError
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AttachmentApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new AttachmentApi(baseUrl)
}

class AttachmentApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Attachment (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def attachmentRestore(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Attachment] =
    ApiRequest[Attachment](ApiMethods.POST, baseUrl, "/api/v1/attachments/{id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Attachment](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : Attachment (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param attachmentCreate 
   */
  def createAttachment(attachmentCreate: AttachmentCreate)(implicit bearerToken: BearerToken): ApiRequest[Attachment] =
    ApiRequest[Attachment](ApiMethods.POST, baseUrl, "/api/v1/attachments", "application/json")
      .withCredentials(bearerToken).withBody(attachmentCreate)
      .withSuccessResponse[Attachment](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteAttachment(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/attachments/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Attachment (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getAttachment(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Attachment] =
    ApiRequest[Attachment](ApiMethods.GET, baseUrl, "/api/v1/attachments/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Attachment](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Attachment] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param contactId 
   */
  def listAttachments(page: Option[Int] = None, pageSize: Option[Int] = None, contactId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Attachment]] =
    ApiRequest[Seq[Attachment]](ApiMethods.GET, baseUrl, "/api/v1/attachments/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withQueryParam("contactId", contactId)
      .withSuccessResponse[Seq[Attachment]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Attachment (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param attachmentId 
   * @param ocrTextRequest 
   */
  def saveAttachmentOcrText(attachmentId: UUID, ocrTextRequest: OcrTextRequest)(implicit bearerToken: BearerToken): ApiRequest[Attachment] =
    ApiRequest[Attachment](ApiMethods.PUT, baseUrl, "/api/v1/attachments/{attachment_id}/ocr-text", "application/json")
      .withCredentials(bearerToken).withBody(ocrTextRequest)
      .withPathParam("attachment_id", attachmentId)
      .withSuccessResponse[Attachment](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

