/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AcceptInviteRequest
import org.openapitools.client.model.AuthResponse
import org.openapitools.client.model.ForgotPasswordRequest
import org.openapitools.client.model.LoginRequest
import org.openapitools.client.model.MagicLinkRequest
import org.openapitools.client.model.MagicLinkVerifyRequest
import org.openapitools.client.model.RegisterRequest
import org.openapitools.client.model.ResetPasswordRequest
import org.openapitools.client.model.TotpEnableRequest
import org.openapitools.client.model.TotpSetupResponse
import org.openapitools.client.model.VerifyEmailRequest
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AuthApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new AuthApi(baseUrl)
}

class AuthApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 :  (Invitation accepted)
   *   code 400 :  (Weak password or privacy policy not accepted)
   *   code 401 :  (Invalid or expired invite token)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param acceptInviteRequest 
   */
  def acceptInvite(acceptInviteRequest: AcceptInviteRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/accept-invite", "application/json")
      .withCredentials(bearerToken).withBody(acceptInviteRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      

  /**
   * Expected answers:
   *   code 200 :  (Password reset email sent if the account exists)
   *   code 404 :  (User not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param forgotPasswordRequest 
   */
  def forgotPassword(forgotPasswordRequest: ForgotPasswordRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/forgot-password", "application/json")
      .withCredentials(bearerToken).withBody(forgotPasswordRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : AuthResponse (Login successful, returns JWT tokens)
   *   code 401 :  (Invalid credentials)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param loginRequest 
   */
  def login(loginRequest: LoginRequest)(implicit bearerToken: BearerToken): ApiRequest[AuthResponse] =
    ApiRequest[AuthResponse](ApiMethods.POST, baseUrl, "/auth/login", "application/json")
      .withCredentials(bearerToken).withBody(loginRequest)
      .withSuccessResponse[AuthResponse](200)
      .withErrorResponse[Unit](401)
      

  /**
   * Expected answers:
   *   code 200 :  (Logged out successfully)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def logout()(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/logout", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Magic link email sent if the account exists)
   *   code 404 :  (User not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param magicLinkRequest 
   */
  def magicLinkLogin(magicLinkRequest: MagicLinkRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/magic-link", "application/json")
      .withCredentials(bearerToken).withBody(magicLinkRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : AuthResponse (Magic link verified, returns JWT tokens)
   *   code 401 :  (Invalid or expired token)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param magicLinkVerifyRequest 
   */
  def magicLinkVerify(magicLinkVerifyRequest: MagicLinkVerifyRequest)(implicit bearerToken: BearerToken): ApiRequest[AuthResponse] =
    ApiRequest[AuthResponse](ApiMethods.POST, baseUrl, "/auth/magic-link/verify", "application/json")
      .withCredentials(bearerToken).withBody(magicLinkVerifyRequest)
      .withSuccessResponse[AuthResponse](200)
      .withErrorResponse[Unit](401)
      

  /**
   * Expected answers:
   *   code 200 : AuthResponse (User registered, verification email sent)
   *   code 409 :  (User already exists)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param registerRequest 
   */
  def register(registerRequest: RegisterRequest)(implicit bearerToken: BearerToken): ApiRequest[AuthResponse] =
    ApiRequest[AuthResponse](ApiMethods.POST, baseUrl, "/auth/register", "application/json")
      .withCredentials(bearerToken).withBody(registerRequest)
      .withSuccessResponse[AuthResponse](200)
      .withErrorResponse[Unit](409)
      

  /**
   * Expected answers:
   *   code 200 :  (Password reset successfully)
   *   code 401 :  (Invalid or expired token)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param resetPasswordRequest 
   */
  def resetPassword(resetPasswordRequest: ResetPasswordRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/reset-password", "application/json")
      .withCredentials(bearerToken).withBody(resetPasswordRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](401)
      

  /**
   * Expected answers:
   *   code 200 :  (TOTP enabled successfully)
   *   code 401 :  (Invalid TOTP code)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param totpEnableRequest 
   */
  def totpEnable(totpEnableRequest: TotpEnableRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/totp/enable", "application/json")
      .withCredentials(bearerToken).withBody(totpEnableRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](401)
      

  /**
   * Expected answers:
   *   code 200 : TotpSetupResponse (TOTP setup data)
   *   code 409 :  (TOTP already enabled)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def totpSetup()(implicit bearerToken: BearerToken): ApiRequest[TotpSetupResponse] =
    ApiRequest[TotpSetupResponse](ApiMethods.GET, baseUrl, "/auth/totp/setup", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[TotpSetupResponse](200)
      .withErrorResponse[Unit](409)
      

  /**
   * Expected answers:
   *   code 200 :  (Email verified successfully)
   *   code 401 :  (Invalid or expired token)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param verifyEmailRequest 
   */
  def verifyEmail(verifyEmailRequest: VerifyEmailRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/auth/verify-email", "application/json")
      .withCredentials(bearerToken).withBody(verifyEmailRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](401)
      



}

