/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AutomationDto
import org.openapitools.client.model.UpdateAutomation
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AutomationsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new AutomationsApi(baseUrl)
}

class AutomationsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[AutomationDto] ()
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listAutomations()(implicit bearerToken: BearerToken): ApiRequest[Seq[AutomationDto]] =
    ApiRequest[Seq[AutomationDto]](ApiMethods.GET, baseUrl, "/api/v1/automations", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[AutomationDto]](200)
      

  /**
   * Expected answers:
   *   code 200 : Any ()
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param key 
   */
  def triggerAutomation(key: String)(implicit bearerToken: BearerToken): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, baseUrl, "/api/v1/automations/{key}/trigger", "application/json")
      .withCredentials(bearerToken).withPathParam("key", key)
      .withSuccessResponse[Any](200)
      

  /**
   * Expected answers:
   *   code 200 : AutomationDto ()
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param key 
   * @param updateAutomation 
   */
  def updateAutomation(key: String, updateAutomation: UpdateAutomation)(implicit bearerToken: BearerToken): ApiRequest[AutomationDto] =
    ApiRequest[AutomationDto](ApiMethods.PUT, baseUrl, "/api/v1/automations/{key}", "application/json")
      .withCredentials(bearerToken).withBody(updateAutomation)
      .withPathParam("key", key)
      .withSuccessResponse[AutomationDto](200)
      



}

