/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BankLookup
import org.openapitools.client.model.HebesatzLookup
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BankingApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new BankingApi(baseUrl)
}

class BankingApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : BankLookup (Bank-Lookup Ergebnis)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param iban 
   */
  def bankLookupApi(iban: String)(implicit bearerToken: BearerToken): ApiRequest[BankLookup] =
    ApiRequest[BankLookup](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/banking/lookup", "application/json")
      .withCredentials(bearerToken).withQueryParam("iban", iban)
      .withSuccessResponse[BankLookup](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Bank-Transaktionen)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def bankTransactionsApi()(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/banking/transactions", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[HebesatzLookup] (Hebesatz Lookup)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param gemeindeschluessel 
   * @param plz 
   * @param name 
   * @param stichtag Stichtag for validity (YYYY-MM-DD); defaults to today. Picks row where valid_from <= date <= valid_to.
   * @param countryCode 
   */
  def hebesatzLookupApi(gemeindeschluessel: Option[String] = None, plz: Option[String] = None, name: Option[String] = None, stichtag: Option[String] = None, countryCode: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[HebesatzLookup]] =
    ApiRequest[Seq[HebesatzLookup]](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/hebesatz", "application/json")
      .withCredentials(bearerToken).withQueryParam("gemeindeschluessel", gemeindeschluessel)
      .withQueryParam("plz", plz)
      .withQueryParam("name", name)
      .withQueryParam("stichtag", stichtag)
      .withQueryParam("country_code", countryCode)
      .withSuccessResponse[Seq[HebesatzLookup]](200)
      



}

