/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ApiResponseSubscriptionOverview
import org.openapitools.client.model.ApiResponseVecPlan
import org.openapitools.client.model.QuotaOverride
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BillingApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new BillingApi(baseUrl)
}

class BillingApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : ApiResponseVecPlan (All subscription plans)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getPlans()(implicit bearerToken: BearerToken): ApiRequest[ApiResponseVecPlan] =
    ApiRequest[ApiResponseVecPlan](ApiMethods.GET, baseUrl, "/api/v1/plans", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ApiResponseVecPlan](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Effective limits and current usage)
   *   code 404 :  (Tenant not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getQuotaApi()(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/quota", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : ApiResponseSubscriptionOverview (Tenant subscription overview)
   *   code 404 :  (Tenant not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getSubscriptionApi()(implicit bearerToken: BearerToken): ApiRequest[ApiResponseSubscriptionOverview] =
    ApiRequest[ApiResponseSubscriptionOverview](ApiMethods.GET, baseUrl, "/api/v1/subscription", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ApiResponseSubscriptionOverview](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 :  (Metered usage this period)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param meter 
   */
  def getUsageApi(meter: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/usage", "application/json")
      .withCredentials(bearerToken).withQueryParam("meter", meter)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Webhook processed)
   *   code 401 :  (Signature verification failed)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def paddleSubscriptionWebhook()(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/webhooks/paddle/subscription", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](401)
      

  /**
   * Expected answers:
   *   code 200 :  (Override saved, effective limits returned)
   *   code 403 :  (Missing admin:settings permission)
   *   code 404 :  (Tenant not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param quotaOverride 
   */
  def putQuotaApi(quotaOverride: QuotaOverride)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/api/v1/quota", "application/json")
      .withCredentials(bearerToken).withBody(quotaOverride)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](403)
      .withErrorResponse[Unit](404)
      



}

