/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AllocatePaymentRequest
import org.openapitools.client.model.BWAReport
import org.openapitools.client.model.CashflowReport
import org.openapitools.client.model.DunningResult
import org.openapitools.client.model.ElsterStatus
import org.openapitools.client.model.Invoice
import org.openapitools.client.model.LiquidityPosition
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.Verfahrensdokumentation
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BookkeepingApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new BookkeepingApi(baseUrl)
}

class BookkeepingApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 :  (Payment allocated successfully)
   *   code 400 : PluginError (Invalid request)
   *   code 404 : PluginError (Payment or invoice not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param allocatePaymentRequest 
   */
  def allocatePaymentApi(allocatePaymentRequest: AllocatePaymentRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/v1/payments/allocate", "application/json")
      .withCredentials(bearerToken).withBody(allocatePaymentRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : BWAReport (BWA Report)
   *   code 500 :  (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param month 
   */
  def bwaReportApi(year: Option[Int] = None, month: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[BWAReport] =
    ApiRequest[BWAReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/bwa", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("month", month)
      .withSuccessResponse[BWAReport](200)
      .withErrorResponse[Unit](500)
      

  /**
   * Expected answers:
   *   code 200 : ElsterStatus (ELSTER integration status)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def elsterStatusApi()(implicit bearerToken: BearerToken): ApiRequest[ElsterStatus] =
    ApiRequest[ElsterStatus](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/elster/status", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ElsterStatus](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Validate UStVA XML (mock or ERiC))
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param zeitraum 
   */
  def elsterValidateApi(zeitraum: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/v1/bookkeeping/ustva/elster-validate", "application/json")
      .withCredentials(bearerToken).withQueryParam("zeitraum", zeitraum)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (ELSTER UStVA XML template (manual upload))
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param zeitraum 
   */
  def elsterXmlApi(zeitraum: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/ustva/elster-xml", "application/json")
      .withCredentials(bearerToken).withQueryParam("zeitraum", zeitraum)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 : CashflowReport (Cashflow report)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param month 
   */
  def getCashflow(year: Option[Int] = None, month: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[CashflowReport] =
    ApiRequest[CashflowReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/cashflow", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("month", month)
      .withSuccessResponse[CashflowReport](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : LiquidityPosition (Liquidity position)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getLiquidity()(implicit bearerToken: BearerToken): ApiRequest[LiquidityPosition] =
    ApiRequest[LiquidityPosition](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/liquidity", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[LiquidityPosition](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Invoice] (Open invoices list)
   *   code 404 : PluginError (Customer not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerId 
   */
  def getOpenInvoicesApi(customerId: String)(implicit bearerToken: BearerToken): ApiRequest[Seq[Invoice]] =
    ApiRequest[Seq[Invoice]](ApiMethods.GET, baseUrl, "/api/v1/payments/open-invoices/{customer_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("customer_id", customerId)
      .withSuccessResponse[Seq[Invoice]](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : Verfahrensdokumentation (Verfahrensdokumentation)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getVerfahrensdokumentation()(implicit bearerToken: BearerToken): ApiRequest[Verfahrensdokumentation] =
    ApiRequest[Verfahrensdokumentation](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/verfahrensdokumentation", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Verfahrensdokumentation](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DunningResult (Dunning run completed successfully)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def runDunningApi()(implicit bearerToken: BearerToken): ApiRequest[DunningResult] =
    ApiRequest[DunningResult](ApiMethods.POST, baseUrl, "/api/v1/bookkeeping/dunning", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[DunningResult](200)
      .withErrorResponse[PluginError](500)
      



}

