/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Budget
import org.openapitools.client.model.BudgetErgebnis
import org.openapitools.client.model.BudgetGoalRequest
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BudgetsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new BudgetsApi(baseUrl)
}

class BudgetsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : BudgetErgebnis (Monats-Budget + Prognose)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param month 
   */
  def budgetsApi(year: Int, month: Int)(implicit bearerToken: BearerToken): ApiRequest[BudgetErgebnis] =
    ApiRequest[BudgetErgebnis](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/budgets", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("month", month)
      .withSuccessResponse[BudgetErgebnis](200)
      

  /**
   * Expected answers:
   *   code 200 : Budget (Budget goal saved (upsert))
   *   code 400 : PluginError (Negative goal)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param category 
   * @param budgetGoalRequest 
   */
  def upsertBudgetGoalApi(category: String, budgetGoalRequest: BudgetGoalRequest)(implicit bearerToken: BearerToken): ApiRequest[Budget] =
    ApiRequest[Budget](ApiMethods.PUT, baseUrl, "/api/v1/bookkeeping/budgets/goals/{category}", "application/json")
      .withCredentials(bearerToken).withBody(budgetGoalRequest)
      .withPathParam("category", category)
      .withSuccessResponse[Budget](200)
      .withErrorResponse[PluginError](400)
      



}

