/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.Contact
import org.openapitools.client.model.ContactTimelineResponse
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.SalesVolumeReport
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ContactApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ContactApi(baseUrl)
}

class ContactApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : AnyType (JSON Schema for Contact)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def contactSchema()(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.GET, baseUrl, "/api/v1/contacts/schema", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[AnyType](200)
      

  /**
   * Aggregates communications, quotations, orders, invoices and uploaded documents for a contact, merged into a single reverse-chronological feed.
   * 
   * Expected answers:
   *   code 200 : ContactTimelineResponse (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param contactId 
   */
  def contactTimeline(contactId: String)(implicit bearerToken: BearerToken): ApiRequest[ContactTimelineResponse] =
    ApiRequest[ContactTimelineResponse](ApiMethods.GET, baseUrl, "/api/v1/contacts/{contact_id}/timeline", "application/json")
      .withCredentials(bearerToken).withPathParam("contact_id", contactId)
      .withSuccessResponse[ContactTimelineResponse](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : Contact (Created)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param body 
   */
  def createContact(body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Contact] =
    ApiRequest[Contact](ApiMethods.POST, baseUrl, "/api/v1/contacts", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withSuccessResponse[Contact](201)
      

  /**
   * Expected answers:
   *   code 204 :  (Deleted)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param contactId 
   */
  def deleteContact(contactId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/contacts/{contact_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("contact_id", contactId)
      .withSuccessResponse[Unit](204)
      

  /**
   * Expected answers:
   *   code 200 : Contact (Contact)
   *   code 404 :  (Not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param contactId 
   */
  def getContact(contactId: String)(implicit bearerToken: BearerToken): ApiRequest[Contact] =
    ApiRequest[Contact](ApiMethods.GET, baseUrl, "/api/v1/contacts/{contact_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("contact_id", contactId)
      .withSuccessResponse[Contact](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Contact] (List of contacts)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param contactType 
   * @param tag 
   */
  def listContacts(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, contactType: Option[String] = None, tag: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Contact]] =
    ApiRequest[Seq[Contact]](ApiMethods.GET, baseUrl, "/api/v1/contacts", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("contact_type", contactType)
      .withQueryParam("tag", tag)
      .withSuccessResponse[Seq[Contact]](200)
      

  /**
   * Expected answers:
   *   code 200 : SalesVolumeReport (Sales volume report)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param contactType 
   * @param tag 
   */
  def salesVolume(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, contactType: Option[String] = None, tag: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[SalesVolumeReport] =
    ApiRequest[SalesVolumeReport](ApiMethods.GET, baseUrl, "/api/v1/contacts/sales-volume", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("contact_type", contactType)
      .withQueryParam("tag", tag)
      .withSuccessResponse[SalesVolumeReport](200)
      

  /**
   * Expected answers:
   *   code 200 : Contact (Updated)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param contactId 
   * @param body 
   */
  def updateContact(contactId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Contact] =
    ApiRequest[Contact](ApiMethods.PUT, baseUrl, "/api/v1/contacts/{contact_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("contact_id", contactId)
      .withSuccessResponse[Contact](200)
      



}

