/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Coupon
import org.openapitools.client.model.CouponCreate
import org.openapitools.client.model.CouponUpdate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CouponApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new CouponApi(baseUrl)
}

class CouponApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Coupon (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param couponId 
   */
  def couponRestore(couponId: String)(implicit bearerToken: BearerToken): ApiRequest[Coupon] =
    ApiRequest[Coupon](ApiMethods.POST, baseUrl, "/api/v1/coupons/{coupon_id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("coupon_id", couponId)
      .withSuccessResponse[Coupon](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : Coupon (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param couponCreate 
   */
  def createCoupon(couponCreate: CouponCreate)(implicit bearerToken: BearerToken): ApiRequest[Coupon] =
    ApiRequest[Coupon](ApiMethods.POST, baseUrl, "/api/v1/coupons", "application/json")
      .withCredentials(bearerToken).withBody(couponCreate)
      .withSuccessResponse[Coupon](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param couponId 
   */
  def deleteCoupon(couponId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/coupons/{coupon_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("coupon_id", couponId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Coupon (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param couponId 
   */
  def getCoupon(couponId: String)(implicit bearerToken: BearerToken): ApiRequest[Coupon] =
    ApiRequest[Coupon](ApiMethods.GET, baseUrl, "/api/v1/coupons/{coupon_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("coupon_id", couponId)
      .withSuccessResponse[Coupon](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Coupon] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param isActive 
   * @param code 
   * @param discountType 
   */
  def listCoupons(page: Option[Int] = None, pageSize: Option[Int] = None, isActive: Option[Boolean] = None, code: Option[String] = None, discountType: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Coupon]] =
    ApiRequest[Seq[Coupon]](ApiMethods.GET, baseUrl, "/api/v1/coupons/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("is_active", isActive)
      .withQueryParam("code", code)
      .withQueryParam("discount_type", discountType)
      .withSuccessResponse[Seq[Coupon]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Coupon (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param couponId 
   * @param couponUpdate 
   */
  def updateCoupon(couponId: String, couponUpdate: CouponUpdate)(implicit bearerToken: BearerToken): ApiRequest[Coupon] =
    ApiRequest[Coupon](ApiMethods.PUT, baseUrl, "/api/v1/coupons/{coupon_id}", "application/json")
      .withCredentials(bearerToken).withBody(couponUpdate)
      .withPathParam("coupon_id", couponId)
      .withSuccessResponse[Coupon](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

