/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.SepaDirectDebitResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CreateSepaDirectDebitApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new CreateSepaDirectDebitApi(baseUrl)
}

class CreateSepaDirectDebitApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : SepaDirectDebitResponse (SEPA Direct Debit XML)
   *   code 500 :  (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param creditorName 
   * @param creditorIban 
   * @param creditorId 
   * @param mandateId 
   * @param mandateDate 
   * @param debtorName 
   * @param debtorIban 
   * @param amount 
   * @param collectionDate 
   * @param creditorBic 
   * @param debtorBic 
   * @param description 
   */
  def createSepaDirectDebitApi(creditorName: String, creditorIban: String, creditorId: String, mandateId: String, mandateDate: String, debtorName: String, debtorIban: String, amount: String, collectionDate: String, creditorBic: Option[String] = None, debtorBic: Option[String] = None, description: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[SepaDirectDebitResponse] =
    ApiRequest[SepaDirectDebitResponse](ApiMethods.POST, baseUrl, "/api/v1/bookkeeping/sepa-direct-debit", "application/json")
      .withCredentials(bearerToken).withQueryParam("creditor_name", creditorName)
      .withQueryParam("creditor_iban", creditorIban)
      .withQueryParam("creditor_bic", creditorBic)
      .withQueryParam("creditor_id", creditorId)
      .withQueryParam("mandate_id", mandateId)
      .withQueryParam("mandate_date", mandateDate)
      .withQueryParam("debtor_name", debtorName)
      .withQueryParam("debtor_iban", debtorIban)
      .withQueryParam("debtor_bic", debtorBic)
      .withQueryParam("amount", amount)
      .withQueryParam("collection_date", collectionDate)
      .withQueryParam("description", description)
      .withSuccessResponse[SepaDirectDebitResponse](200)
      .withErrorResponse[Unit](500)
      



}

