/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.Invoice
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CreditNoteApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new CreditNoteApi(baseUrl)
}

class CreditNoteApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Invoice (Created)
   *   code 404 : PluginError (Preceding invoice not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param body 
   */
  def createCreditNote(body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Invoice] =
    ApiRequest[Invoice](ApiMethods.POST, baseUrl, "/api/v1/credit-notes", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withSuccessResponse[Invoice](201)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 :  (PDF file)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param creditNoteId 
   */
  def downloadCreditNotePdf(creditNoteId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/credit-notes/{credit_note_id}/pdf", "application/json")
      .withCredentials(bearerToken).withPathParam("credit_note_id", creditNoteId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Invoice (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param creditNoteId 
   */
  def getCreditNote(creditNoteId: String)(implicit bearerToken: BearerToken): ApiRequest[Invoice] =
    ApiRequest[Invoice](ApiMethods.GET, baseUrl, "/api/v1/credit-notes/{credit_note_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("credit_note_id", creditNoteId)
      .withSuccessResponse[Invoice](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Invoice] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def listCreditNotes(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Invoice]] =
    ApiRequest[Seq[Invoice]](ApiMethods.GET, baseUrl, "/api/v1/credit-notes/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Invoice]](200)
      .withErrorResponse[PluginError](500)
      



}

