/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CommunicationChannel
import org.openapitools.client.model.CommunicationDirection
import org.openapitools.client.model.ContactHistoryResponse
import org.openapitools.client.model.CustomerCommunication
import org.openapitools.client.model.CustomerCommunicationCreate
import org.openapitools.client.model.CustomerCommunicationUpdate
import java.time.LocalDate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CustomerCommunicationApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new CustomerCommunicationApi(baseUrl)
}

class CustomerCommunicationApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : CustomerCommunication (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerCommunicationCreate 
   */
  def createCommunication(customerCommunicationCreate: CustomerCommunicationCreate)(implicit bearerToken: BearerToken): ApiRequest[CustomerCommunication] =
    ApiRequest[CustomerCommunication](ApiMethods.POST, baseUrl, "/api/v1/communications", "application/json")
      .withCredentials(bearerToken).withBody(customerCommunicationCreate)
      .withSuccessResponse[CustomerCommunication](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : CustomerCommunication (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param communicationId 
   */
  def customercommunicationRestore(communicationId: String)(implicit bearerToken: BearerToken): ApiRequest[CustomerCommunication] =
    ApiRequest[CustomerCommunication](ApiMethods.POST, baseUrl, "/api/v1/communications/{communication_id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("communication_id", communicationId)
      .withSuccessResponse[CustomerCommunication](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param communicationId 
   */
  def deleteCommunication(communicationId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/communications/{communication_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("communication_id", communicationId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : CustomerCommunication (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param communicationId 
   */
  def getCommunication(communicationId: String)(implicit bearerToken: BearerToken): ApiRequest[CustomerCommunication] =
    ApiRequest[CustomerCommunication](ApiMethods.GET, baseUrl, "/api/v1/communications/{communication_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("communication_id", communicationId)
      .withSuccessResponse[CustomerCommunication](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ContactHistoryResponse (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param contactId 
   */
  def getContactHistory(contactId: String)(implicit bearerToken: BearerToken): ApiRequest[ContactHistoryResponse] =
    ApiRequest[ContactHistoryResponse](ApiMethods.GET, baseUrl, "/api/v1/contacts/{contact_id}/communications", "application/json")
      .withCredentials(bearerToken).withPathParam("contact_id", contactId)
      .withSuccessResponse[ContactHistoryResponse](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[CustomerCommunication] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param contactId Filter history to a single contact.
   * @param channel 
   * @param direction 
   * @param from Only include communications after this ISO date (inclusive).
   * @param to Only include communications before this ISO date (inclusive).
   */
  def listCommunications(page: Option[Int] = None, pageSize: Option[Int] = None, contactId: Option[String] = None, channel: Option[CommunicationChannel] = None, direction: Option[CommunicationDirection] = None, from: Option[LocalDate] = None, to: Option[LocalDate] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[CustomerCommunication]] =
    ApiRequest[Seq[CustomerCommunication]](ApiMethods.GET, baseUrl, "/api/v1/communications/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("contact_id", contactId)
      .withQueryParam("channel", channel)
      .withQueryParam("direction", direction)
      .withQueryParam("from", from)
      .withQueryParam("to", to)
      .withSuccessResponse[Seq[CustomerCommunication]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : CustomerCommunication (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param communicationId 
   * @param customerCommunicationUpdate 
   */
  def updateCommunication(communicationId: String, customerCommunicationUpdate: CustomerCommunicationUpdate)(implicit bearerToken: BearerToken): ApiRequest[CustomerCommunication] =
    ApiRequest[CustomerCommunication](ApiMethods.PUT, baseUrl, "/api/v1/communications/{communication_id}", "application/json")
      .withCredentials(bearerToken).withBody(customerCommunicationUpdate)
      .withPathParam("communication_id", communicationId)
      .withSuccessResponse[CustomerCommunication](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

