/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.CustomerGroup
import org.openapitools.client.model.CustomerGroupCreate
import org.openapitools.client.model.CustomerGroupUpdate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CustomerGroupApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new CustomerGroupApi(baseUrl)
}

class CustomerGroupApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : CustomerGroup (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerGroupId 
   * @param body 
   */
  def addGroupMembers(customerGroupId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[CustomerGroup] =
    ApiRequest[CustomerGroup](ApiMethods.POST, baseUrl, "/api/v1/customer-groups/{customer_group_id}/members", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("customer_group_id", customerGroupId)
      .withSuccessResponse[CustomerGroup](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : CustomerGroup (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerGroupCreate 
   */
  def createCustomerGroup(customerGroupCreate: CustomerGroupCreate)(implicit bearerToken: BearerToken): ApiRequest[CustomerGroup] =
    ApiRequest[CustomerGroup](ApiMethods.POST, baseUrl, "/api/v1/customer-groups", "application/json")
      .withCredentials(bearerToken).withBody(customerGroupCreate)
      .withSuccessResponse[CustomerGroup](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerGroupId 
   */
  def deleteCustomerGroup(customerGroupId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/customer-groups/{customer_group_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("customer_group_id", customerGroupId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : CustomerGroup (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerGroupId 
   */
  def getCustomerGroup(customerGroupId: String)(implicit bearerToken: BearerToken): ApiRequest[CustomerGroup] =
    ApiRequest[CustomerGroup](ApiMethods.GET, baseUrl, "/api/v1/customer-groups/{customer_group_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("customer_group_id", customerGroupId)
      .withSuccessResponse[CustomerGroup](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[CustomerGroup] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def listCustomerGroups(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[CustomerGroup]] =
    ApiRequest[Seq[CustomerGroup]](ApiMethods.GET, baseUrl, "/api/v1/customer-groups/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[CustomerGroup]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : CustomerGroup (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerGroupId 
   * @param customerGroupUpdate 
   */
  def updateCustomerGroup(customerGroupId: String, customerGroupUpdate: CustomerGroupUpdate)(implicit bearerToken: BearerToken): ApiRequest[CustomerGroup] =
    ApiRequest[CustomerGroup](ApiMethods.PUT, baseUrl, "/api/v1/customer-groups/{customer_group_id}", "application/json")
      .withCredentials(bearerToken).withBody(customerGroupUpdate)
      .withPathParam("customer_group_id", customerGroupId)
      .withSuccessResponse[CustomerGroup](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

