/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Customer
import org.openapitools.client.model.CustomerCreate
import org.openapitools.client.model.CustomerUpdate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CustomerApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new CustomerApi(baseUrl)
}

class CustomerApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Customer (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerCreate 
   */
  def createCustomer(customerCreate: CustomerCreate)(implicit bearerToken: BearerToken): ApiRequest[Customer] =
    ApiRequest[Customer](ApiMethods.POST, baseUrl, "/api/v1/customers", "application/json")
      .withCredentials(bearerToken).withBody(customerCreate)
      .withSuccessResponse[Customer](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Customer (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerId 
   */
  def customerRestore(customerId: String)(implicit bearerToken: BearerToken): ApiRequest[Customer] =
    ApiRequest[Customer](ApiMethods.POST, baseUrl, "/api/v1/customers/{customer_id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("customer_id", customerId)
      .withSuccessResponse[Customer](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerId 
   */
  def deleteCustomer(customerId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/customers/{customer_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("customer_id", customerId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Customer (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerId 
   */
  def getCustomer(customerId: String)(implicit bearerToken: BearerToken): ApiRequest[Customer] =
    ApiRequest[Customer](ApiMethods.GET, baseUrl, "/api/v1/customers/{customer_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("customer_id", customerId)
      .withSuccessResponse[Customer](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Customer] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getCustomers(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Customer]] =
    ApiRequest[Seq[Customer]](ApiMethods.GET, baseUrl, "/api/v1/customers/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Customer]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Customer (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param customerId 
   * @param customerUpdate 
   */
  def updateCustomer(customerId: String, customerUpdate: CustomerUpdate)(implicit bearerToken: BearerToken): ApiRequest[Customer] =
    ApiRequest[Customer](ApiMethods.PUT, baseUrl, "/api/v1/customers/{customer_id}", "application/json")
      .withCredentials(bearerToken).withBody(customerUpdate)
      .withPathParam("customer_id", customerId)
      .withSuccessResponse[Customer](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

