/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.DatevBookingPreview
import org.openapitools.client.model.DatevExportResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DatevApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new DatevApi(baseUrl)
}

class DatevApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : DatevExportResponse (DATEV CSV export)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param accountSchema 
   * @param dateFrom 
   * @param dateTo 
   * @param page 
   * @param pageSize 
   */
  def datevExportApi(accountSchema: Option[String] = None, dateFrom: Option[String] = None, dateTo: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[DatevExportResponse] =
    ApiRequest[DatevExportResponse](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/datev/export", "application/json")
      .withCredentials(bearerToken).withQueryParam("account_schema", accountSchema)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[DatevExportResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[DatevBookingPreview] (DATEV booking preview)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param accountSchema 
   * @param dateFrom 
   * @param dateTo 
   * @param page 
   * @param pageSize 
   */
  def datevPreviewApi(accountSchema: Option[String] = None, dateFrom: Option[String] = None, dateTo: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[DatevBookingPreview]] =
    ApiRequest[Seq[DatevBookingPreview]](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/datev/preview", "application/json")
      .withCredentials(bearerToken).withQueryParam("account_schema", accountSchema)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[Seq[DatevBookingPreview]](200)
      



}

