/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Declaration
import org.openapitools.client.model.DeclarationCreate
import org.openapitools.client.model.DeclarationUpdate
import org.openapitools.client.model.PluginError
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DeclarationApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new DeclarationApi(baseUrl)
}

class DeclarationApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Declaration (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param declarationCreate 
   */
  def createDeclaration(declarationCreate: DeclarationCreate)(implicit bearerToken: BearerToken): ApiRequest[Declaration] =
    ApiRequest[Declaration](ApiMethods.POST, baseUrl, "/api/v1/declarations", "application/json")
      .withCredentials(bearerToken).withBody(declarationCreate)
      .withSuccessResponse[Declaration](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Declaration (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def declarationRestore(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Declaration] =
    ApiRequest[Declaration](ApiMethods.POST, baseUrl, "/api/v1/declarations/{id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Declaration](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteDeclaration(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/declarations/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Declaration (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getDeclaration(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Declaration] =
    ApiRequest[Declaration](ApiMethods.GET, baseUrl, "/api/v1/declarations/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Declaration](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Declaration] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getDeclarations(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Declaration]] =
    ApiRequest[Seq[Declaration]](ApiMethods.GET, baseUrl, "/api/v1/declarations/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Declaration]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Declaration (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param declarationUpdate 
   */
  def updateDeclaration(id: UUID, declarationUpdate: DeclarationUpdate)(implicit bearerToken: BearerToken): ApiRequest[Declaration] =
    ApiRequest[Declaration](ApiMethods.PUT, baseUrl, "/api/v1/declarations/{id}", "application/json")
      .withCredentials(bearerToken).withBody(declarationUpdate)
      .withPathParam("id", id)
      .withSuccessResponse[Declaration](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

