/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.DeliveryDate
import org.openapitools.client.model.DeliveryDateCreate
import org.openapitools.client.model.DeliveryDateStatusUpdate
import java.time.LocalDate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DeliveryDateApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new DeliveryDateApi(baseUrl)
}

class DeliveryDateApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : DeliveryDate (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param deliveryDateCreate 
   */
  def createDeliveryDate(deliveryDateCreate: DeliveryDateCreate)(implicit bearerToken: BearerToken): ApiRequest[DeliveryDate] =
    ApiRequest[DeliveryDate](ApiMethods.POST, baseUrl, "/api/v1/delivery-dates", "application/json")
      .withCredentials(bearerToken).withBody(deliveryDateCreate)
      .withSuccessResponse[DeliveryDate](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param deliveryDateId 
   */
  def deleteDeliveryDate(deliveryDateId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/delivery-dates/{delivery_date_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("delivery_date_id", deliveryDateId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DeliveryDate (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param deliveryDateId 
   */
  def getDeliveryDate(deliveryDateId: String)(implicit bearerToken: BearerToken): ApiRequest[DeliveryDate] =
    ApiRequest[DeliveryDate](ApiMethods.GET, baseUrl, "/api/v1/delivery-dates/{delivery_date_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("delivery_date_id", deliveryDateId)
      .withSuccessResponse[DeliveryDate](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : AnyType (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param orderNumber 
   * @param status 
   * @param from Only dates on or after this date.
   * @param to Only dates on or before this date.
   */
  def getDeliveryPerformance(page: Option[Int] = None, pageSize: Option[Int] = None, orderNumber: Option[String] = None, status: Option[String] = None, from: Option[LocalDate] = None, to: Option[LocalDate] = None)(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.GET, baseUrl, "/api/v1/delivery-dates/performance", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withQueryParam("orderNumber", orderNumber)
      .withQueryParam("status", status)
      .withQueryParam("from", from)
      .withQueryParam("to", to)
      .withSuccessResponse[AnyType](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[DeliveryDate] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param orderNumber 
   * @param status 
   * @param from Only dates on or after this date.
   * @param to Only dates on or before this date.
   */
  def listDeliveryDates(page: Option[Int] = None, pageSize: Option[Int] = None, orderNumber: Option[String] = None, status: Option[String] = None, from: Option[LocalDate] = None, to: Option[LocalDate] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[DeliveryDate]] =
    ApiRequest[Seq[DeliveryDate]](ApiMethods.GET, baseUrl, "/api/v1/delivery-dates/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withQueryParam("orderNumber", orderNumber)
      .withQueryParam("status", status)
      .withQueryParam("from", from)
      .withQueryParam("to", to)
      .withSuccessResponse[Seq[DeliveryDate]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DeliveryDate (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param deliveryDateId 
   * @param body 
   */
  def updateDeliveryDate(deliveryDateId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[DeliveryDate] =
    ApiRequest[DeliveryDate](ApiMethods.PUT, baseUrl, "/api/v1/delivery-dates/{delivery_date_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("delivery_date_id", deliveryDateId)
      .withSuccessResponse[DeliveryDate](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DeliveryDate (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param deliveryDateId 
   * @param deliveryDateStatusUpdate 
   */
  def updateDeliveryDateStatus(deliveryDateId: String, deliveryDateStatusUpdate: DeliveryDateStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[DeliveryDate] =
    ApiRequest[DeliveryDate](ApiMethods.PUT, baseUrl, "/api/v1/delivery-dates/{delivery_date_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(deliveryDateStatusUpdate)
      .withPathParam("delivery_date_id", deliveryDateId)
      .withSuccessResponse[DeliveryDate](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

