/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.AppointmentStatusUpdate
import org.openapitools.client.model.DeliveryAppointment
import org.openapitools.client.model.DeliveryAppointmentCreate
import java.time.LocalDate
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.PublicDeliveryAppointmentRequest
import org.openapitools.client.model.PublicDeliveryAppointmentResponse
import org.openapitools.client.model.PublicDeliveryAppointmentStatusResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DeliveryAppointmentApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new DeliveryAppointmentApi(baseUrl)
}

class DeliveryAppointmentApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : DeliveryAppointment (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param deliveryAppointmentCreate 
   */
  def createDeliveryAppointment(deliveryAppointmentCreate: DeliveryAppointmentCreate)(implicit bearerToken: BearerToken): ApiRequest[DeliveryAppointment] =
    ApiRequest[DeliveryAppointment](ApiMethods.POST, baseUrl, "/api/v1/delivery-appointments", "application/json")
      .withCredentials(bearerToken).withBody(deliveryAppointmentCreate)
      .withSuccessResponse[DeliveryAppointment](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param appointmentId 
   */
  def deleteDeliveryAppointment(appointmentId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/delivery-appointments/{appointment_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("appointment_id", appointmentId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DeliveryAppointment (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param appointmentId 
   */
  def getDeliveryAppointment(appointmentId: String)(implicit bearerToken: BearerToken): ApiRequest[DeliveryAppointment] =
    ApiRequest[DeliveryAppointment](ApiMethods.GET, baseUrl, "/api/v1/delivery-appointments/{appointment_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("appointment_id", appointmentId)
      .withSuccessResponse[DeliveryAppointment](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PublicDeliveryAppointmentStatusResponse (Appointment status)
   *   code 404 : PluginError (Appointment not found or credentials mismatch)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param appointmentId 
   * @param email 
   * @param token 
   */
  def getPublicDeliveryAppointmentStatus(appointmentId: String, email: String, token: String)(implicit bearerToken: BearerToken): ApiRequest[PublicDeliveryAppointmentStatusResponse] =
    ApiRequest[PublicDeliveryAppointmentStatusResponse](ApiMethods.GET, baseUrl, "/api/v1/public/delivery-appointments/status", "application/json")
      .withCredentials(bearerToken).withQueryParam("appointmentId", appointmentId)
      .withQueryParam("email", email)
      .withQueryParam("token", token)
      .withSuccessResponse[PublicDeliveryAppointmentStatusResponse](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[DeliveryAppointment] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param warehouseId 
   * @param from 
   * @param to 
   */
  def listDeliveryAppointments(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, warehouseId: Option[String] = None, from: Option[LocalDate] = None, to: Option[LocalDate] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[DeliveryAppointment]] =
    ApiRequest[Seq[DeliveryAppointment]](ApiMethods.GET, baseUrl, "/api/v1/delivery-appointments", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("warehouse_id", warehouseId)
      .withQueryParam("from", from)
      .withQueryParam("to", to)
      .withSuccessResponse[Seq[DeliveryAppointment]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : PublicDeliveryAppointmentResponse (Appointment requested)
   *   code 404 : PluginError (Warehouse not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param publicDeliveryAppointmentRequest 
   */
  def requestPublicDeliveryAppointment(publicDeliveryAppointmentRequest: PublicDeliveryAppointmentRequest)(implicit bearerToken: BearerToken): ApiRequest[PublicDeliveryAppointmentResponse] =
    ApiRequest[PublicDeliveryAppointmentResponse](ApiMethods.POST, baseUrl, "/api/v1/public/delivery-appointments/request", "application/json")
      .withCredentials(bearerToken).withBody(publicDeliveryAppointmentRequest)
      .withSuccessResponse[PublicDeliveryAppointmentResponse](201)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DeliveryAppointment (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param appointmentId 
   * @param body 
   */
  def updateDeliveryAppointment(appointmentId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[DeliveryAppointment] =
    ApiRequest[DeliveryAppointment](ApiMethods.PUT, baseUrl, "/api/v1/delivery-appointments/{appointment_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("appointment_id", appointmentId)
      .withSuccessResponse[DeliveryAppointment](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DeliveryAppointment (OK)
   *   code 400 : PluginError (Bad request / invalid transition)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param appointmentId 
   * @param appointmentStatusUpdate 
   */
  def updateDeliveryAppointmentStatus(appointmentId: String, appointmentStatusUpdate: AppointmentStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[DeliveryAppointment] =
    ApiRequest[DeliveryAppointment](ApiMethods.PUT, baseUrl, "/api/v1/delivery-appointments/{appointment_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(appointmentStatusUpdate)
      .withPathParam("appointment_id", appointmentId)
      .withSuccessResponse[DeliveryAppointment](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

