/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.DownPaymentInvoice
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DownPaymentInvoiceApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new DownPaymentInvoiceApi(baseUrl)
}

class DownPaymentInvoiceApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 :  (PDF placeholder)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def downloadDownPaymentInvoicePdf(id: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/down-payment-invoices/{id}/pdf", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DownPaymentInvoice (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getDownPaymentInvoice(id: String)(implicit bearerToken: BearerToken): ApiRequest[DownPaymentInvoice] =
    ApiRequest[DownPaymentInvoice](ApiMethods.GET, baseUrl, "/api/v1/down-payment-invoices/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[DownPaymentInvoice](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[DownPaymentInvoice] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def listDownPaymentInvoices(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[DownPaymentInvoice]] =
    ApiRequest[Seq[DownPaymentInvoice]](ApiMethods.GET, baseUrl, "/api/v1/down-payment-invoices/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[DownPaymentInvoice]](200)
      .withErrorResponse[PluginError](500)
      



}

