/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.EBilanzReport
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object EbilanzApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new EbilanzApi(baseUrl)
}

class EbilanzApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : EBilanzReport (E-Bilanz report)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param dateFrom 
   * @param dateTo 
   */
  def ebilanzReportApi(year: Option[Int] = None, dateFrom: Option[String] = None, dateTo: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[EBilanzReport] =
    ApiRequest[EBilanzReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/ebilanz", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withSuccessResponse[EBilanzReport](200)
      

  /**
   * Expected answers:
   *   code 200 :  (XBRL XML content)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param dateFrom 
   * @param dateTo 
   */
  def ebilanzXbrlExportApi(year: Option[Int] = None, dateFrom: Option[String] = None, dateTo: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/ebilanz/xbrl", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withSuccessResponse[Unit](200)
      



}

