/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.EmailTemplate
import org.openapitools.client.model.EmailTemplateCreate
import org.openapitools.client.model.EmailTemplateUpdate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object EmailTemplateApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new EmailTemplateApi(baseUrl)
}

class EmailTemplateApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : EmailTemplate (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param emailTemplateCreate 
   */
  def createEmailTemplate(emailTemplateCreate: EmailTemplateCreate)(implicit bearerToken: BearerToken): ApiRequest[EmailTemplate] =
    ApiRequest[EmailTemplate](ApiMethods.POST, baseUrl, "/api/v1/email-templates", "application/json")
      .withCredentials(bearerToken).withBody(emailTemplateCreate)
      .withSuccessResponse[EmailTemplate](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param emailTemplateId 
   */
  def deleteEmailTemplate(emailTemplateId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/email-templates/{email_template_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("email_template_id", emailTemplateId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : EmailTemplate (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param emailTemplateId 
   */
  def getEmailTemplate(emailTemplateId: String)(implicit bearerToken: BearerToken): ApiRequest[EmailTemplate] =
    ApiRequest[EmailTemplate](ApiMethods.GET, baseUrl, "/api/v1/email-templates/{email_template_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("email_template_id", emailTemplateId)
      .withSuccessResponse[EmailTemplate](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[EmailTemplate] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param search 
   */
  def listEmailTemplates(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, search: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[EmailTemplate]] =
    ApiRequest[Seq[EmailTemplate]](ApiMethods.GET, baseUrl, "/api/v1/email-templates/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("search", search)
      .withSuccessResponse[Seq[EmailTemplate]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : AnyType (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param emailTemplateId 
   * @param body 
   */
  def renderEmailTemplate(emailTemplateId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.POST, baseUrl, "/api/v1/email-templates/{email_template_id}/render", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("email_template_id", emailTemplateId)
      .withSuccessResponse[AnyType](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : EmailTemplate (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param emailTemplateId 
   * @param emailTemplateUpdate 
   */
  def updateEmailTemplate(emailTemplateId: String, emailTemplateUpdate: EmailTemplateUpdate)(implicit bearerToken: BearerToken): ApiRequest[EmailTemplate] =
    ApiRequest[EmailTemplate](ApiMethods.PUT, baseUrl, "/api/v1/email-templates/{email_template_id}", "application/json")
      .withCredentials(bearerToken).withBody(emailTemplateUpdate)
      .withPathParam("email_template_id", emailTemplateId)
      .withSuccessResponse[EmailTemplate](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

