/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CreateEmissionEntry
import org.openapitools.client.model.CreateEmissionTarget
import org.openapitools.client.model.EmissionEntry
import org.openapitools.client.model.EmissionFactorResponse
import org.openapitools.client.model.EmissionTarget
import org.openapitools.client.model.EmissionsExportResponse
import org.openapitools.client.model.EmissionsReport
import org.openapitools.client.model.PluginError
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object EmissionsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new EmissionsApi(baseUrl)
}

class EmissionsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : EmissionEntry (Emission entry created)
   *   code 400 : PluginError (Unknown category/method)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param createEmissionEntry 
   */
  def createEmissionEntryApi(createEmissionEntry: CreateEmissionEntry)(implicit bearerToken: BearerToken): ApiRequest[EmissionEntry] =
    ApiRequest[EmissionEntry](ApiMethods.POST, baseUrl, "/api/v1/bookkeeping/emissions/entries", "application/json")
      .withCredentials(bearerToken).withBody(createEmissionEntry)
      .withSuccessResponse[EmissionEntry](201)
      .withErrorResponse[PluginError](400)
      

  /**
   * Expected answers:
   *   code 201 : EmissionTarget (Emission target created)
   *   code 400 : PluginError (Invalid scope)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param createEmissionTarget 
   */
  def createEmissionTargetApi(createEmissionTarget: CreateEmissionTarget)(implicit bearerToken: BearerToken): ApiRequest[EmissionTarget] =
    ApiRequest[EmissionTarget](ApiMethods.POST, baseUrl, "/api/v1/bookkeeping/emissions/targets", "application/json")
      .withCredentials(bearerToken).withBody(createEmissionTarget)
      .withSuccessResponse[EmissionTarget](201)
      .withErrorResponse[PluginError](400)
      

  /**
   * Expected answers:
   *   code 200 :  (Emission entry deleted)
   *   code 404 : PluginError (Entry not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteEmissionEntryApi(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/bookkeeping/emissions/entries/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 :  (Emission target deleted)
   *   code 404 : PluginError (Target not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteEmissionTargetApi(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/bookkeeping/emissions/targets/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : Seq[EmissionEntry] (Emission entries for year)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def emissionsEntriesApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[Seq[EmissionEntry]] =
    ApiRequest[Seq[EmissionEntry]](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/emissions/entries", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[Seq[EmissionEntry]](200)
      

  /**
   * Expected answers:
   *   code 200 : EmissionsExportResponse (Emissions CSV export)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def emissionsExportApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[EmissionsExportResponse] =
    ApiRequest[EmissionsExportResponse](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/emissions/export", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[EmissionsExportResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[EmissionFactorResponse] (Builtin emission factors)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def emissionsFactorsApi()(implicit bearerToken: BearerToken): ApiRequest[Seq[EmissionFactorResponse]] =
    ApiRequest[Seq[EmissionFactorResponse]](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/emissions/factors", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[EmissionFactorResponse]](200)
      

  /**
   * Expected answers:
   *   code 200 : EmissionsReport (Emissions report)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def emissionsReportApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[EmissionsReport] =
    ApiRequest[EmissionsReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/emissions/report", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[EmissionsReport](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[EmissionTarget] (Emission reduction targets (ESRS E1-4))
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def emissionsTargetsApi()(implicit bearerToken: BearerToken): ApiRequest[Seq[EmissionTarget]] =
    ApiRequest[Seq[EmissionTarget]](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/emissions/targets", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[EmissionTarget]](200)
      



}

