/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Employee
import org.openapitools.client.model.EmployeeCreate
import org.openapitools.client.model.EmployeeUpdate
import org.openapitools.client.model.PayrollSummary
import org.openapitools.client.model.PluginError
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object EmployeeApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new EmployeeApi(baseUrl)
}

class EmployeeApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Employee (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param employeeCreate 
   */
  def createEmployee(employeeCreate: EmployeeCreate)(implicit bearerToken: BearerToken): ApiRequest[Employee] =
    ApiRequest[Employee](ApiMethods.POST, baseUrl, "/api/v1/employees", "application/json")
      .withCredentials(bearerToken).withBody(employeeCreate)
      .withSuccessResponse[Employee](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteEmployee(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/employees/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Employee (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def employeeRestore(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Employee] =
    ApiRequest[Employee](ApiMethods.POST, baseUrl, "/api/v1/employees/{id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Employee](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Employee (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getEmployee(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Employee] =
    ApiRequest[Employee](ApiMethods.GET, baseUrl, "/api/v1/employees/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Employee](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PayrollSummary (Payroll summary for the employee)
   *   code 404 : PluginError (Employee not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param year Fiscal year for the breakdown; defaults to the current year.
   */
  def getEmployeePayrollSummary(id: UUID, year: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[PayrollSummary] =
    ApiRequest[PayrollSummary](ApiMethods.GET, baseUrl, "/api/v1/employees/{id}/payroll-summary", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withPathParam("id", id)
      .withSuccessResponse[PayrollSummary](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Employee] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getEmployees(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Employee]] =
    ApiRequest[Seq[Employee]](ApiMethods.GET, baseUrl, "/api/v1/employees/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Employee]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Employee (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param employeeUpdate 
   */
  def updateEmployee(id: UUID, employeeUpdate: EmployeeUpdate)(implicit bearerToken: BearerToken): ApiRequest[Employee] =
    ApiRequest[Employee](ApiMethods.PUT, baseUrl, "/api/v1/employees/{id}", "application/json")
      .withCredentials(bearerToken).withBody(employeeUpdate)
      .withPathParam("id", id)
      .withSuccessResponse[Employee](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

