/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.EuerDetailErgebnis
import org.openapitools.client.model.EuerErgebnis
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object EuerApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new EuerApi(baseUrl)
}

class EuerApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : EuerErgebnis (EÜR Ergebnis)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def euerApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[EuerErgebnis] =
    ApiRequest[EuerErgebnis](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/euer", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[EuerErgebnis](200)
      

  /**
   * Expected answers:
   *   code 200 : EuerDetailErgebnis (EÜR mit Kategorie-Aufschlüsselung)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def euerKategorienApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[EuerDetailErgebnis] =
    ApiRequest[EuerDetailErgebnis](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/euer/kategorien", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[EuerDetailErgebnis](200)
      



}

