/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.FristenErgebnis
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object FristenApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new FristenApi(baseUrl)
}

class FristenApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : FristenErgebnis (Steuerliche Fristen)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param bundesland 
   * @param voranmeldungsrhythmus 
   * @param dauerfristverlaengerung 
   * @param estAktiv 
   * @param gewstAktiv 
   * @param monate 
   */
  def fristenApi(bundesland: Option[String] = None, voranmeldungsrhythmus: Option[String] = None, dauerfristverlaengerung: Option[Boolean] = None, estAktiv: Option[Boolean] = None, gewstAktiv: Option[Boolean] = None, monate: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[FristenErgebnis] =
    ApiRequest[FristenErgebnis](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/fristen", "application/json")
      .withCredentials(bearerToken).withQueryParam("bundesland", bundesland)
      .withQueryParam("voranmeldungsrhythmus", voranmeldungsrhythmus)
      .withQueryParam("dauerfristverlaengerung", dauerfristverlaengerung)
      .withQueryParam("est_aktiv", estAktiv)
      .withQueryParam("gewst_aktiv", gewstAktiv)
      .withQueryParam("monate", monate)
      .withSuccessResponse[FristenErgebnis](200)
      



}

