/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.ApiResponseGdprExport
import org.openapitools.client.model.DpaAcceptRequest
import org.openapitools.client.model.DpaStatus
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GdprApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GdprApi(baseUrl)
}

class GdprApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : DpaStatus (DPA acceptance recorded)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param dpaAcceptRequest 
   */
  def acceptDpa(dpaAcceptRequest: DpaAcceptRequest)(implicit bearerToken: BearerToken): ApiRequest[DpaStatus] =
    ApiRequest[DpaStatus](ApiMethods.PUT, baseUrl, "/api/v1/gdpr/dpa", "application/json")
      .withCredentials(bearerToken).withBody(dpaAcceptRequest)
      .withSuccessResponse[DpaStatus](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Anonymizes every contact, anonymizes personal fields on bookkeeping records (orders/invoices/payments keep amounts and dates for GoBD), removes the tenant linkage of the (global, saasy-framework) users and marks the erasure on `tenant_settings.gdpr_erased_at`. No row is physically deleted. The audit triggers on the touched tables record who/when.
   * 
   * Expected answers:
   *   code 200 : AnyType (Tenant personal data anonymized)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def accountErasure()(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.POST, baseUrl, "/api/v1/gdpr/account-erasure", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[AnyType](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : AnyType (Contact anonymized)
   *   code 404 : PluginError (Contact not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param contactId 
   */
  def erasureContact(contactId: String)(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.POST, baseUrl, "/api/v1/gdpr/erasure/{contact_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("contact_id", contactId)
      .withSuccessResponse[AnyType](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Returns the contact itself plus the tenant-scoped rows linked to it.  ## Relations The `customers`/`orders`/`invoices`/`payments` tables have no FK to `contacts`; they are linked through the `customer_id` column, which per the app's conventions holds one of: - the admin customer's `customer_id` (a UUID, often the same value as   the contact's `contact_id`/`customer_number`), - the buyer's email for shop orders, or - the marketplace's external customer id for plugin orders.  The export therefore matches the contact's identifiers (`contact_id`, `customer_number`, `external_id`, `email`) plus any resolved customer ids against `customer_id`. `delivery_notes` and `customer_communications` reference contacts directly via `contact_id`. Soft-deleted rows are included (their data is still processed and retained for GoBD). Relations that genuinely do not exist for a contact stay empty but the key is always present.
   * 
   * Expected answers:
   *   code 200 : AnyType (Art. 15 data-subject export)
   *   code 404 : PluginError (Contact not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param contactId 
   */
  def exportContactData(contactId: String)(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.GET, baseUrl, "/api/v1/gdpr/export/{contact_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("contact_id", contactId)
      .withSuccessResponse[AnyType](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * No admin permission required: a user always exports their own data.
   * 
   * Expected answers:
   *   code 200 : ApiResponseGdprExport (Personal data export)
   *   code 404 :  (User not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def exportGdpr()(implicit bearerToken: BearerToken): ApiRequest[ApiResponseGdprExport] =
    ApiRequest[ApiResponseGdprExport](ApiMethods.GET, baseUrl, "/api/v1/gdpr/export", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ApiResponseGdprExport](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : DpaStatus (DPA acceptance status)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getDpa()(implicit bearerToken: BearerToken): ApiRequest[DpaStatus] =
    ApiRequest[DpaStatus](ApiMethods.GET, baseUrl, "/api/v1/gdpr/dpa", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[DpaStatus](200)
      .withErrorResponse[PluginError](500)
      



}

