/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.XRechnungResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GenerateXrechnungApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GenerateXrechnungApi(baseUrl)
}

class GenerateXrechnungApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : XRechnungResponse (XRechnung XML)
   *   code 404 :  (Invoice not found)
   *   code 500 :  (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param supplierName 
   * @param supplierStreet 
   * @param supplierCity 
   * @param supplierZip 
   * @param supplierCountry 
   * @param supplierVatId 
   */
  def generateXrechnungApi(id: String, supplierName: Option[String] = None, supplierStreet: Option[String] = None, supplierCity: Option[String] = None, supplierZip: Option[String] = None, supplierCountry: Option[String] = None, supplierVatId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[XRechnungResponse] =
    ApiRequest[XRechnungResponse](ApiMethods.GET, baseUrl, "/api/v1/invoices/{id}/xrechnung", "application/json")
      .withCredentials(bearerToken).withQueryParam("supplier_name", supplierName)
      .withQueryParam("supplier_street", supplierStreet)
      .withQueryParam("supplier_city", supplierCity)
      .withQueryParam("supplier_zip", supplierZip)
      .withQueryParam("supplier_country", supplierCountry)
      .withQueryParam("supplier_vat_id", supplierVatId)
      .withPathParam("id", id)
      .withSuccessResponse[XRechnungResponse](200)
      .withErrorResponse[Unit](404)
      .withErrorResponse[Unit](500)
      



}

