/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.QRCodeResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GenerateQrcodeApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GenerateQrcodeApi(baseUrl)
}

class GenerateQrcodeApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : QRCodeResponse (QR Code for invoice payment)
   *   code 404 :  (Invoice not found)
   *   code 500 :  (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param iban 
   * @param id 
   * @param holderName 
   * @param bic 
   * @param amount 
   * @param reference 
   * @param purpose 
   */
  def generateQrcodeApi(iban: String, id: String, holderName: Option[String] = None, bic: Option[String] = None, amount: Option[String] = None, reference: Option[String] = None, purpose: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[QRCodeResponse] =
    ApiRequest[QRCodeResponse](ApiMethods.GET, baseUrl, "/api/v1/invoices/{id}/qrcode", "application/json")
      .withCredentials(bearerToken).withQueryParam("iban", iban)
      .withQueryParam("holder_name", holderName)
      .withQueryParam("bic", bic)
      .withQueryParam("amount", amount)
      .withQueryParam("reference", reference)
      .withQueryParam("purpose", purpose)
      .withPathParam("id", id)
      .withSuccessResponse[QRCodeResponse](200)
      .withErrorResponse[Unit](404)
      .withErrorResponse[Unit](500)
      



}

