/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.GewerbesteuerErgebnis
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GewerbesteuerApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GewerbesteuerApi(baseUrl)
}

class GewerbesteuerApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : GewerbesteuerErgebnis (Gewerbesteuer / Trade Tax Ergebnis)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param hebesatz 
   * @param gewerbeertrag 
   * @param country 
   * @param gemeindeschluessel 
   */
  def gewerbesteuerApi(year: Int, hebesatz: Option[String] = None, gewerbeertrag: Option[String] = None, country: Option[String] = None, gemeindeschluessel: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[GewerbesteuerErgebnis] =
    ApiRequest[GewerbesteuerErgebnis](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/gewerbesteuer", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("hebesatz", hebesatz)
      .withQueryParam("gewerbeertrag", gewerbeertrag)
      .withQueryParam("country", country)
      .withQueryParam("gemeindeschluessel", gemeindeschluessel)
      .withSuccessResponse[GewerbesteuerErgebnis](200)
      



}

