/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.GewinnverwendungsExportResponse
import org.openapitools.client.model.GewinnverwendungsReport
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GewinnverwendungApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GewinnverwendungApi(baseUrl)
}

class GewinnverwendungApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : GewinnverwendungsReport (Gewinnverwendungsrechnung (§ 150, § 174 AktG))
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def gewinnverwendungApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[GewinnverwendungsReport] =
    ApiRequest[GewinnverwendungsReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/gewinnverwendung", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[GewinnverwendungsReport](200)
      

  /**
   * Expected answers:
   *   code 200 : GewinnverwendungsExportResponse (Gewinnverwendungsrechnung als CSV (BOM, Semikolon))
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def gewinnverwendungExportApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[GewinnverwendungsExportResponse] =
    ApiRequest[GewinnverwendungsExportResponse](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/gewinnverwendung/export", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[GewinnverwendungsExportResponse](200)
      



}

