/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.GezReport
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GezApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GezApi(baseUrl)
}

class GezApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : GezReport (Rundfunkbeitrag (GEZ) Berechnung nach § 5 RBStV)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param jahr 
   * @param betriebsstaetten Liste der Betriebsstätten als JSON, z.B. `[{\"name\":\"Filiale 1\",\"beschaefigte\":12}]`.
   * @param kfz Gesamtzahl der betrieblich genutzten Kfz (falls keine Betriebsstätten angegeben sind).
   * @param hotelzimmer Gesamtzahl der Hotel-/Gästezimmer und Ferienwohnungen.
   * @param beschaefigte Gesamtzahl der Beschäftigten (verwendet nur, wenn `betriebsstaetten` fehlt; dann wird eine einzelne Betriebsstätte angenommen).
   */
  def gezApi(jahr: Option[Int] = None, betriebsstaetten: Option[String] = None, kfz: Option[Long] = None, hotelzimmer: Option[Long] = None, beschaefigte: Option[Long] = None)(implicit bearerToken: BearerToken): ApiRequest[GezReport] =
    ApiRequest[GezReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/gez", "application/json")
      .withCredentials(bearerToken).withQueryParam("jahr", jahr)
      .withQueryParam("betriebsstaetten", betriebsstaetten)
      .withQueryParam("kfz", kfz)
      .withQueryParam("hotelzimmer", hotelzimmer)
      .withQueryParam("beschaefigte", beschaefigte)
      .withSuccessResponse[GezReport](200)
      



}

