/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.GoBDExportResponse
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GobdExportApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GobdExportApi(baseUrl)
}

class GobdExportApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : GoBDExportResponse (Buchhalter CSV)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param dateFrom 
   * @param dateTo 
   */
  def buchhalterCsvApi(dateFrom: String, dateTo: String)(implicit bearerToken: BearerToken): ApiRequest[GoBDExportResponse] =
    ApiRequest[GoBDExportResponse](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/buchhalter-csv", "application/json")
      .withCredentials(bearerToken).withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withSuccessResponse[GoBDExportResponse](200)
      

  /**
   * Expected answers:
   *   code 200 :  (GoBD/GDPdU export: ZIP (application/zip) with index.xml (IDEA table specification) and one UTF-8 CSV per tax-relevant table; legacy single-journal CSV JSON via ?format=csv)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param format Export format: `zip` (default, full GDPdU/IDEA export) or `csv` (legacy single-journal CSV as JSON).
   */
  def gobdExportApi(year: Int, format: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/gobd", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("format", format)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      



}

