/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.GoodsReceipt
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GoodsReceiptApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GoodsReceiptApi(baseUrl)
}

class GoodsReceiptApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : GoodsReceipt (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param goodsReceipt 
   */
  def createGoodsReceipt(goodsReceipt: GoodsReceipt)(implicit bearerToken: BearerToken): ApiRequest[GoodsReceipt] =
    ApiRequest[GoodsReceipt](ApiMethods.POST, baseUrl, "/api/v1/goods-receipts", "application/json")
      .withCredentials(bearerToken).withBody(goodsReceipt)
      .withSuccessResponse[GoodsReceipt](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param goodsReceiptId 
   */
  def deleteGoodsReceipt(goodsReceiptId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/goods-receipts/{goods_receipt_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("goods_receipt_id", goodsReceiptId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : GoodsReceipt (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param goodsReceiptId 
   */
  def getGoodsReceipt(goodsReceiptId: String)(implicit bearerToken: BearerToken): ApiRequest[GoodsReceipt] =
    ApiRequest[GoodsReceipt](ApiMethods.GET, baseUrl, "/api/v1/goods-receipts/{goods_receipt_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("goods_receipt_id", goodsReceiptId)
      .withSuccessResponse[GoodsReceipt](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[GoodsReceipt] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param purchaseOrderId 
   * @param supplierName 
   * @param warehouseId 
   */
  def listGoodsReceipts(page: Option[Int] = None, pageSize: Option[Int] = None, purchaseOrderId: Option[String] = None, supplierName: Option[String] = None, warehouseId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[GoodsReceipt]] =
    ApiRequest[Seq[GoodsReceipt]](ApiMethods.GET, baseUrl, "/api/v1/goods-receipts/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("purchase_order_id", purchaseOrderId)
      .withQueryParam("supplier_name", supplierName)
      .withQueryParam("warehouse_id", warehouseId)
      .withSuccessResponse[Seq[GoodsReceipt]](200)
      .withErrorResponse[PluginError](500)
      



}

