/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.GroupFigure
import org.openapitools.client.model.GroupFigureCreate
import org.openapitools.client.model.GroupFigureUpdate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GroupFigureApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new GroupFigureApi(baseUrl)
}

class GroupFigureApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : GroupFigure (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param groupFigureCreate 
   */
  def createGroupFigure(groupFigureCreate: GroupFigureCreate)(implicit bearerToken: BearerToken): ApiRequest[GroupFigure] =
    ApiRequest[GroupFigure](ApiMethods.POST, baseUrl, "/api/v1/group-figures", "application/json")
      .withCredentials(bearerToken).withBody(groupFigureCreate)
      .withSuccessResponse[GroupFigure](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def deleteGroupFigure(year: Int)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/group-figures/{year}", "application/json")
      .withCredentials(bearerToken).withPathParam("year", year)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : GroupFigure (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def getGroupFigure(year: Int)(implicit bearerToken: BearerToken): ApiRequest[GroupFigure] =
    ApiRequest[GroupFigure](ApiMethods.GET, baseUrl, "/api/v1/group-figures/{year}", "application/json")
      .withCredentials(bearerToken).withPathParam("year", year)
      .withSuccessResponse[GroupFigure](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[GroupFigure] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getGroupFigures(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[GroupFigure]] =
    ApiRequest[Seq[GroupFigure]](ApiMethods.GET, baseUrl, "/api/v1/group-figures/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[GroupFigure]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : GroupFigure (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param groupFigureUpdate 
   */
  def updateGroupFigure(year: Int, groupFigureUpdate: GroupFigureUpdate)(implicit bearerToken: BearerToken): ApiRequest[GroupFigure] =
    ApiRequest[GroupFigure](ApiMethods.PUT, baseUrl, "/api/v1/group-figures/{year}", "application/json")
      .withCredentials(bearerToken).withBody(groupFigureUpdate)
      .withPathParam("year", year)
      .withSuccessResponse[GroupFigure](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

