/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ImportJobStatus
import org.openapitools.client.model.ImportStartRequest
import org.openapitools.client.model.ImportStartResponse
import org.openapitools.client.model.ImportTestRequest
import org.openapitools.client.model.ImportTestResponse
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ImportRunnerApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ImportRunnerApi(baseUrl)
}

class ImportRunnerApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : ImportJobStatus (Import job status)
   *   code 404 : PluginError (Job not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param jobId 
   */
  def getImportStatus(jobId: String)(implicit bearerToken: BearerToken): ApiRequest[ImportJobStatus] =
    ApiRequest[ImportJobStatus](ApiMethods.GET, baseUrl, "/api/v1/import/{job_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("job_id", jobId)
      .withSuccessResponse[ImportJobStatus](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : ImportStartResponse (Import job queued)
   *   code 400 : PluginError (Bad request)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param importStartRequest 
   */
  def startImport(importStartRequest: ImportStartRequest)(implicit bearerToken: BearerToken): ApiRequest[ImportStartResponse] =
    ApiRequest[ImportStartResponse](ApiMethods.POST, baseUrl, "/api/v1/import/start", "application/json")
      .withCredentials(bearerToken).withBody(importStartRequest)
      .withSuccessResponse[ImportStartResponse](200)
      .withErrorResponse[PluginError](400)
      

  /**
   * Expected answers:
   *   code 200 : ImportTestResponse (Connection test result)
   *   code 400 : PluginError (Bad request)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param importTestRequest 
   */
  def testImportConnection(importTestRequest: ImportTestRequest)(implicit bearerToken: BearerToken): ApiRequest[ImportTestResponse] =
    ApiRequest[ImportTestResponse](ApiMethods.POST, baseUrl, "/api/v1/import/test", "application/json")
      .withCredentials(bearerToken).withBody(importTestRequest)
      .withSuccessResponse[ImportTestResponse](200)
      .withErrorResponse[PluginError](400)
      



}

