/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.GenerateCountRequest
import org.openapitools.client.model.InventoryCount
import org.openapitools.client.model.InventoryCountStatusUpdate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object InventoryCountApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new InventoryCountApi(baseUrl)
}

class InventoryCountApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : InventoryCount (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param inventoryCount 
   */
  def createInventoryCount(inventoryCount: InventoryCount)(implicit bearerToken: BearerToken): ApiRequest[InventoryCount] =
    ApiRequest[InventoryCount](ApiMethods.POST, baseUrl, "/api/v1/inventory-counts", "application/json")
      .withCredentials(bearerToken).withBody(inventoryCount)
      .withSuccessResponse[InventoryCount](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param inventoryCountId 
   */
  def deleteInventoryCount(inventoryCountId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/inventory-counts/{inventory_count_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("inventory_count_id", inventoryCountId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : InventoryCount (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param generateCountRequest 
   */
  def generateInventoryCount(generateCountRequest: GenerateCountRequest)(implicit bearerToken: BearerToken): ApiRequest[InventoryCount] =
    ApiRequest[InventoryCount](ApiMethods.POST, baseUrl, "/api/v1/inventory-counts/generate", "application/json")
      .withCredentials(bearerToken).withBody(generateCountRequest)
      .withSuccessResponse[InventoryCount](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : InventoryCount (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param inventoryCountId 
   */
  def getInventoryCount(inventoryCountId: String)(implicit bearerToken: BearerToken): ApiRequest[InventoryCount] =
    ApiRequest[InventoryCount](ApiMethods.GET, baseUrl, "/api/v1/inventory-counts/{inventory_count_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("inventory_count_id", inventoryCountId)
      .withSuccessResponse[InventoryCount](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[InventoryCount] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param warehouseId 
   */
  def listInventoryCounts(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, warehouseId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[InventoryCount]] =
    ApiRequest[Seq[InventoryCount]](ApiMethods.GET, baseUrl, "/api/v1/inventory-counts/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("warehouse_id", warehouseId)
      .withSuccessResponse[Seq[InventoryCount]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : InventoryCount (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param inventoryCountId 
   * @param body 
   */
  def updateInventoryCount(inventoryCountId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[InventoryCount] =
    ApiRequest[InventoryCount](ApiMethods.PUT, baseUrl, "/api/v1/inventory-counts/{inventory_count_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("inventory_count_id", inventoryCountId)
      .withSuccessResponse[InventoryCount](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : InventoryCount (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param inventoryCountId 
   * @param inventoryCountStatusUpdate 
   */
  def updateInventoryCountStatus(inventoryCountId: String, inventoryCountStatusUpdate: InventoryCountStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[InventoryCount] =
    ApiRequest[InventoryCount](ApiMethods.PUT, baseUrl, "/api/v1/inventory-counts/{inventory_count_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(inventoryCountStatusUpdate)
      .withPathParam("inventory_count_id", inventoryCountId)
      .withSuccessResponse[InventoryCount](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

