/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CurrentInventoryValue
import org.openapitools.client.model.InventoryValuePoint
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object InventoryValueApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new InventoryValueApi(baseUrl)
}

class InventoryValueApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : CurrentInventoryValue (Inventory value history)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getInventoryValueApi()(implicit bearerToken: BearerToken): ApiRequest[CurrentInventoryValue] =
    ApiRequest[CurrentInventoryValue](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/inventory-value", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[CurrentInventoryValue](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : InventoryValuePoint (Current value snapshot recorded)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def recordInventoryValueApi()(implicit bearerToken: BearerToken): ApiRequest[InventoryValuePoint] =
    ApiRequest[InventoryValuePoint](ApiMethods.POST, baseUrl, "/api/v1/bookkeeping/inventory-value/record", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[InventoryValuePoint](200)
      .withErrorResponse[PluginError](500)
      



}

