/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.Invoice
import org.openapitools.client.model.InvoiceCreate
import org.openapitools.client.model.InvoicePdfUrlResponse
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object InvoiceApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new InvoiceApi(baseUrl)
}

class InvoiceApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Invoice (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param invoiceCreate 
   */
  def createInvoice(invoiceCreate: InvoiceCreate)(implicit bearerToken: BearerToken): ApiRequest[Invoice] =
    ApiRequest[Invoice](ApiMethods.POST, baseUrl, "/api/v1/invoices", "application/json")
      .withCredentials(bearerToken).withBody(invoiceCreate)
      .withSuccessResponse[Invoice](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteInvoice(id: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/invoices/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 :  (PDF file)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def downloadInvoicePdf(id: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/invoices/{id}/pdf", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Invoice (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getInvoice(id: String)(implicit bearerToken: BearerToken): ApiRequest[Invoice] =
    ApiRequest[Invoice](ApiMethods.GET, baseUrl, "/api/v1/invoices/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Invoice](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : InvoicePdfUrlResponse (Presigned download URL)
   *   code 404 : PluginError (Invoice not found)
   *   code 500 : PluginError (Storage not configured)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getInvoicePdfUrl(id: String)(implicit bearerToken: BearerToken): ApiRequest[InvoicePdfUrlResponse] =
    ApiRequest[InvoicePdfUrlResponse](ApiMethods.GET, baseUrl, "/api/v1/invoices/{id}/pdf-url", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[InvoicePdfUrlResponse](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Invoice] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getInvoices(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Invoice]] =
    ApiRequest[Seq[Invoice]](ApiMethods.GET, baseUrl, "/api/v1/invoices/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Invoice]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Invoice (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def invoiceRestore(id: String)(implicit bearerToken: BearerToken): ApiRequest[Invoice] =
    ApiRequest[Invoice](ApiMethods.POST, baseUrl, "/api/v1/invoices/{id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Invoice](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Invoice (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Invoice not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param body 
   */
  def updateInvoice(id: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Invoice] =
    ApiRequest[Invoice](ApiMethods.PUT, baseUrl, "/api/v1/invoices/{id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("id", id)
      .withSuccessResponse[Invoice](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      



}

