/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ApplicationStatusDto
import org.openapitools.client.model.JobApplication
import org.openapitools.client.model.PublicPosting
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object JobApplicationApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new JobApplicationApi(baseUrl)
}

class JobApplicationApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 :  (Application received)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param postingId 
   */
  def applyPublic(postingId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/v1/public/jobs/{posting_id}/apply", "application/json")
      .withCredentials(bearerToken).withPathParam("posting_id", postingId)
      .withSuccessResponse[Unit](201)
      

  /**
   * Expected answers:
   *   code 200 : JobApplication (Soft-deleted)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param applicationId 
   */
  def deleteJobApplication(applicationId: UUID)(implicit bearerToken: BearerToken): ApiRequest[JobApplication] =
    ApiRequest[JobApplication](ApiMethods.DELETE, baseUrl, "/api/v1/job-applications/{application_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("application_id", applicationId)
      .withSuccessResponse[JobApplication](200)
      

  /**
   * Expected answers:
   *   code 200 :  (CV file)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param applicationId 
   */
  def downloadCv(applicationId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/job-applications/{application_id}/cv", "application/json")
      .withCredentials(bearerToken).withPathParam("application_id", applicationId)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 : JobApplication (Application)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param applicationId 
   */
  def getJobApplication(applicationId: UUID)(implicit bearerToken: BearerToken): ApiRequest[JobApplication] =
    ApiRequest[JobApplication](ApiMethods.GET, baseUrl, "/api/v1/job-applications/{application_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("application_id", applicationId)
      .withSuccessResponse[JobApplication](200)
      

  /**
   * Expected answers:
   *   code 201 :  (Application received)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def inboundEmail()(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/v1/public/jobs/inbound-email", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Unit](201)
      

  /**
   * Expected answers:
   *   code 200 : Seq[JobApplication] (Applications list)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param postingId 
   * @param status 
   * @param page 
   * @param pageSize 
   */
  def listJobApplications(postingId: Option[UUID] = None, status: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[JobApplication]] =
    ApiRequest[Seq[JobApplication]](ApiMethods.GET, baseUrl, "/api/v1/job-applications", "application/json")
      .withCredentials(bearerToken).withQueryParam("postingId", postingId)
      .withQueryParam("status", status)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withSuccessResponse[Seq[JobApplication]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[PublicPosting] (Published postings)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listPublicPostings()(implicit bearerToken: BearerToken): ApiRequest[Seq[PublicPosting]] =
    ApiRequest[Seq[PublicPosting]](ApiMethods.GET, baseUrl, "/api/v1/public/jobs", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[PublicPosting]](200)
      

  /**
   * Expected answers:
   *   code 200 : JobApplication (Scored)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param applicationId 
   */
  def scoreJobApplication(applicationId: UUID)(implicit bearerToken: BearerToken): ApiRequest[JobApplication] =
    ApiRequest[JobApplication](ApiMethods.POST, baseUrl, "/api/v1/job-applications/{application_id}/score", "application/json")
      .withCredentials(bearerToken).withPathParam("application_id", applicationId)
      .withSuccessResponse[JobApplication](200)
      

  /**
   * Expected answers:
   *   code 200 : JobApplication (Updated)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param applicationId 
   * @param applicationStatusDto 
   */
  def updateJobApplicationStatus(applicationId: UUID, applicationStatusDto: ApplicationStatusDto)(implicit bearerToken: BearerToken): ApiRequest[JobApplication] =
    ApiRequest[JobApplication](ApiMethods.PATCH, baseUrl, "/api/v1/job-applications/{application_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(applicationStatusDto)
      .withPathParam("application_id", applicationId)
      .withSuccessResponse[JobApplication](200)
      



}

