/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.JobPosting
import org.openapitools.client.model.JobPostingCreate
import org.openapitools.client.model.JobPostingUpdate
import org.openapitools.client.model.PluginError
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object JobPostingApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new JobPostingApi(baseUrl)
}

class JobPostingApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : JobPosting (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param jobPostingCreate 
   */
  def createJobPosting(jobPostingCreate: JobPostingCreate)(implicit bearerToken: BearerToken): ApiRequest[JobPosting] =
    ApiRequest[JobPosting](ApiMethods.POST, baseUrl, "/api/v1/job-postings", "application/json")
      .withCredentials(bearerToken).withBody(jobPostingCreate)
      .withSuccessResponse[JobPosting](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteJobPosting(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/job-postings/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : JobPosting (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getJobPosting(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[JobPosting] =
    ApiRequest[JobPosting](ApiMethods.GET, baseUrl, "/api/v1/job-postings/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[JobPosting](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[JobPosting] (Job postings list)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param status 
   * @param page 
   * @param pageSize 
   */
  def listJobPostings(status: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[JobPosting]] =
    ApiRequest[Seq[JobPosting]](ApiMethods.GET, baseUrl, "/api/v1/job-postings", "application/json")
      .withCredentials(bearerToken).withQueryParam("status", status)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withSuccessResponse[Seq[JobPosting]](200)
      

  /**
   * Expected answers:
   *   code 200 : JobPosting (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param jobPostingUpdate 
   */
  def updateJobPosting(id: UUID, jobPostingUpdate: JobPostingUpdate)(implicit bearerToken: BearerToken): ApiRequest[JobPosting] =
    ApiRequest[JobPosting](ApiMethods.PUT, baseUrl, "/api/v1/job-postings/{id}", "application/json")
      .withCredentials(bearerToken).withBody(jobPostingUpdate)
      .withPathParam("id", id)
      .withSuccessResponse[JobPosting](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

