/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.KonzernExportResponse
import org.openapitools.client.model.KonzernStatus
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object KonzernApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new KonzernApi(baseUrl)
}

class KonzernApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : KonzernExportResponse (Konzern-Beteiligungen mit Kontrollstatus als CSV (BOM, Semikolon))
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def konzernExportApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[KonzernExportResponse] =
    ApiRequest[KonzernExportResponse](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/konzern/status/export", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[KonzernExportResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : KonzernStatus (Konzern-Status (§§ 290, 291, 293 HGB))
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def konzernStatusApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[KonzernStatus] =
    ApiRequest[KonzernStatus](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/konzern/status", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[KonzernStatus](200)
      



}

