/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Lead
import org.openapitools.client.model.LeadUpdate
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LeadApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new LeadApi(baseUrl)
}

class LeadApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[Lead] (Leads list)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param status 
   * @param source 
   * @param search 
   * @param page 
   * @param pageSize 
   */
  def listLeadsApi(status: Option[String] = None, source: Option[String] = None, search: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Lead]] =
    ApiRequest[Seq[Lead]](ApiMethods.GET, baseUrl, "/api/v1/support/leads", "application/json")
      .withCredentials(bearerToken).withQueryParam("status", status)
      .withQueryParam("source", source)
      .withQueryParam("search", search)
      .withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[Seq[Lead]](200)
      

  /**
   * Expected answers:
   *   code 200 : Lead (Lead updated)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param leadId 
   * @param leadUpdate 
   */
  def updateLeadApi(leadId: UUID, leadUpdate: LeadUpdate)(implicit bearerToken: BearerToken): ApiRequest[Lead] =
    ApiRequest[Lead](ApiMethods.PUT, baseUrl, "/api/v1/support/leads/{lead_id}", "application/json")
      .withCredentials(bearerToken).withBody(leadUpdate)
      .withPathParam("lead_id", leadId)
      .withSuccessResponse[Lead](200)
      



}

