/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.LegalDocument
import org.openapitools.client.model.LegalDocumentReset
import org.openapitools.client.model.LegalDocumentUpsert
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LegalDocumentApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new LegalDocumentApi(baseUrl)
}

class LegalDocumentApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[LegalDocument] (All legal documents of the tenant)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getLegalDocuments()(implicit bearerToken: BearerToken): ApiRequest[Seq[LegalDocument]] =
    ApiRequest[Seq[LegalDocument]](ApiMethods.GET, baseUrl, "/api/v1/legal/documents", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[LegalDocument]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[LegalDocument] (Reset legal documents)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param legalDocumentReset 
   */
  def resetLegalDocuments(legalDocumentReset: LegalDocumentReset)(implicit bearerToken: BearerToken): ApiRequest[Seq[LegalDocument]] =
    ApiRequest[Seq[LegalDocument]](ApiMethods.POST, baseUrl, "/api/v1/legal/documents/reset", "application/json")
      .withCredentials(bearerToken).withBody(legalDocumentReset)
      .withSuccessResponse[Seq[LegalDocument]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[LegalDocument] (Saved legal documents)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param legalDocumentUpsert 
   */
  def upsertLegalDocuments(legalDocumentUpsert: Seq[LegalDocumentUpsert])(implicit bearerToken: BearerToken): ApiRequest[Seq[LegalDocument]] =
    ApiRequest[Seq[LegalDocument]](ApiMethods.PUT, baseUrl, "/api/v1/legal/documents", "application/json")
      .withCredentials(bearerToken).withBody(legalDocumentUpsert)
      .withSuccessResponse[Seq[LegalDocument]](200)
      .withErrorResponse[PluginError](500)
      



}

