/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.OpenItem
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ListOpenItemsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ListOpenItemsApi(baseUrl)
}

class ListOpenItemsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[OpenItem] (List of open invoices)
   *   code 500 :  (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param reminderLevel1Days 
   * @param reminderLevel2Days 
   * @param reminderLevel3Days 
   * @param customerId 
   */
  def listOpenItemsApi(reminderLevel1Days: Option[Long] = None, reminderLevel2Days: Option[Long] = None, reminderLevel3Days: Option[Long] = None, customerId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[OpenItem]] =
    ApiRequest[Seq[OpenItem]](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/open-items", "application/json")
      .withCredentials(bearerToken).withQueryParam("reminder_level1_days", reminderLevel1Days)
      .withQueryParam("reminder_level2_days", reminderLevel2Days)
      .withQueryParam("reminder_level3_days", reminderLevel3Days)
      .withQueryParam("customer_id", customerId)
      .withSuccessResponse[Seq[OpenItem]](200)
      .withErrorResponse[Unit](500)
      



}

