/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.NotificationDto
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object NotificationsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new NotificationsApi(baseUrl)
}

class NotificationsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 :  (Deleted)
   *   code 404 :  (Not found or not owned by caller)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteNotification(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/notifications/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : Seq[NotificationDto] (Own notifications, newest first)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listNotifications()(implicit bearerToken: BearerToken): ApiRequest[Seq[NotificationDto]] =
    ApiRequest[Seq[NotificationDto]](ApiMethods.GET, baseUrl, "/api/v1/notifications", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[NotificationDto]](200)
      

  /**
   * Expected answers:
   *   code 200 : Long (All own notifications marked as read)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def markAllRead()(implicit bearerToken: BearerToken): ApiRequest[Long] =
    ApiRequest[Long](ApiMethods.PUT, baseUrl, "/api/v1/notifications/read-all", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Long](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Marked as read)
   *   code 404 :  (Not found or not owned by caller)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def markAsRead(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/api/v1/notifications/{id}/read", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : Long (Number of unread notifications)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def unreadCount()(implicit bearerToken: BearerToken): ApiRequest[Long] =
    ApiRequest[Long](ApiMethods.GET, baseUrl, "/api/v1/notifications/unread-count", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Long](200)
      



}

