/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.OffenlegungReport
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OffenlegungApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new OffenlegungApi(baseUrl)
}

class OffenlegungApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : OffenlegungReport (Offenlegungs-Checkliste (§ 325 HGB))
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def offenlegungApi()(implicit bearerToken: BearerToken): ApiRequest[OffenlegungReport] =
    ApiRequest[OffenlegungReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/offenlegung", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[OffenlegungReport](200)
      



}

