/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.SmtpConfig
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OnlineshopApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new OnlineshopApi(baseUrl)
}

class OnlineshopApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : SmtpConfig (Tenant SMTP config (null if unset))
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getSmtpConfigApi()(implicit bearerToken: BearerToken): ApiRequest[SmtpConfig] =
    ApiRequest[SmtpConfig](ApiMethods.GET, baseUrl, "/api/v1/settings/smtp", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[SmtpConfig](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : SmtpConfig (Tenant SMTP config saved)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param smtpConfig 
   */
  def saveSmtpConfigApi(smtpConfig: Option[SmtpConfig] = None)(implicit bearerToken: BearerToken): ApiRequest[SmtpConfig] =
    ApiRequest[SmtpConfig](ApiMethods.PUT, baseUrl, "/api/v1/settings/smtp", "application/json")
      .withCredentials(bearerToken).withBody(smtpConfig)
      .withSuccessResponse[SmtpConfig](200)
      .withErrorResponse[PluginError](500)
      



}

