/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.Order
import org.openapitools.client.model.OrderStateUpdate
import org.openapitools.client.model.OrderTagsRequest
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OrderApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new OrderApi(baseUrl)
}

class OrderApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Order (Tags added)
   *   code 404 : PluginError (Order not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderId 
   * @param orderTagsRequest 
   */
  def addOrderTags(orderId: String, orderTagsRequest: OrderTagsRequest)(implicit bearerToken: BearerToken): ApiRequest[Order] =
    ApiRequest[Order](ApiMethods.POST, baseUrl, "/api/v1/orders/{order_id}/tags", "application/json")
      .withCredentials(bearerToken).withBody(orderTagsRequest)
      .withPathParam("order_id", orderId)
      .withSuccessResponse[Order](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Order (Order found)
   *   code 404 : PluginError (Order not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param extRef 
   */
  def findOrderByExternalRef(extRef: String)(implicit bearerToken: BearerToken): ApiRequest[Order] =
    ApiRequest[Order](ApiMethods.GET, baseUrl, "/api/v1/orders/by-ext-ref/{ext_ref}", "application/json")
      .withCredentials(bearerToken).withPathParam("ext_ref", extRef)
      .withSuccessResponse[Order](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Order (Order found)
   *   code 400 : PluginError (Bad Request)
   *   code 404 : PluginError (Order not found)
   *   code 500 : PluginError (Internal Server Error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderNumber 
   */
  def getOrder(orderNumber: String)(implicit bearerToken: BearerToken): ApiRequest[Order] =
    ApiRequest[Order](ApiMethods.GET, baseUrl, "/api/v1/order/{order_number}", "application/json")
      .withCredentials(bearerToken).withPathParam("order_number", orderNumber)
      .withSuccessResponse[Order](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Order] (Orders found)
   *   code 400 : PluginError (Bad Request)
   *   code 404 : PluginError (No orders found)
   *   code 500 : PluginError (Internal Server Error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getOrders(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Order]] =
    ApiRequest[Seq[Order]](ApiMethods.GET, baseUrl, "/api/v1/orders", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Order]](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Order (Order updated)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Order not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderId 
   * @param body 
   */
  def patchOrder(orderId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Order] =
    ApiRequest[Order](ApiMethods.PATCH, baseUrl, "/api/v1/orders/{order_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("order_id", orderId)
      .withSuccessResponse[Order](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Order (Tags replaced)
   *   code 404 : PluginError (Order not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderId 
   * @param orderTagsRequest 
   */
  def replaceOrderTags(orderId: String, orderTagsRequest: OrderTagsRequest)(implicit bearerToken: BearerToken): ApiRequest[Order] =
    ApiRequest[Order](ApiMethods.PUT, baseUrl, "/api/v1/orders/{order_id}/tags", "application/json")
      .withCredentials(bearerToken).withBody(orderTagsRequest)
      .withPathParam("order_id", orderId)
      .withSuccessResponse[Order](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Order (Order state updated)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Order not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderId 
   * @param orderStateUpdate 
   */
  def updateOrderState(orderId: String, orderStateUpdate: OrderStateUpdate)(implicit bearerToken: BearerToken): ApiRequest[Order] =
    ApiRequest[Order](ApiMethods.PUT, baseUrl, "/api/v1/orders/{order_id}/state", "application/json")
      .withCredentials(bearerToken).withBody(orderStateUpdate)
      .withPathParam("order_id", orderId)
      .withSuccessResponse[Order](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

