/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.DeliveryNote
import org.openapitools.client.model.OrderConfirmation
import org.openapitools.client.model.OrderConfirmationCreate
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OrderConfirmationApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new OrderConfirmationApi(baseUrl)
}

class OrderConfirmationApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : OrderConfirmation (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderConfirmationCreate 
   */
  def createConfirmation(orderConfirmationCreate: OrderConfirmationCreate)(implicit bearerToken: BearerToken): ApiRequest[OrderConfirmation] =
    ApiRequest[OrderConfirmation](ApiMethods.POST, baseUrl, "/api/v1/order-confirmations", "application/json")
      .withCredentials(bearerToken).withBody(orderConfirmationCreate)
      .withSuccessResponse[OrderConfirmation](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param confirmationId 
   */
  def deleteConfirmation(confirmationId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/order-confirmations/{confirmation_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("confirmation_id", confirmationId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 :  (PDF file)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param confirmationId 
   */
  def downloadConfirmationPdf(confirmationId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/order-confirmations/{confirmation_id}/pdf", "application/json")
      .withCredentials(bearerToken).withPathParam("confirmation_id", confirmationId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : OrderConfirmation (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param confirmationId 
   */
  def getConfirmation(confirmationId: String)(implicit bearerToken: BearerToken): ApiRequest[OrderConfirmation] =
    ApiRequest[OrderConfirmation](ApiMethods.GET, baseUrl, "/api/v1/order-confirmations/{confirmation_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("confirmation_id", confirmationId)
      .withSuccessResponse[OrderConfirmation](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[OrderConfirmation] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def listConfirmations(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[OrderConfirmation]] =
    ApiRequest[Seq[OrderConfirmation]](ApiMethods.GET, baseUrl, "/api/v1/order-confirmations/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[OrderConfirmation]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : OrderConfirmation (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param confirmationId 
   */
  def orderconfirmationRestore(confirmationId: String)(implicit bearerToken: BearerToken): ApiRequest[OrderConfirmation] =
    ApiRequest[OrderConfirmation](ApiMethods.POST, baseUrl, "/api/v1/order-confirmations/{confirmation_id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("confirmation_id", confirmationId)
      .withSuccessResponse[OrderConfirmation](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : DeliveryNote (Created DeliveryNote)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param confirmationId 
   */
  def pursueConfirmation(confirmationId: String)(implicit bearerToken: BearerToken): ApiRequest[DeliveryNote] =
    ApiRequest[DeliveryNote](ApiMethods.POST, baseUrl, "/api/v1/order-confirmations/{confirmation_id}/pursue", "application/json")
      .withCredentials(bearerToken).withPathParam("confirmation_id", confirmationId)
      .withSuccessResponse[DeliveryNote](201)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

