/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PackingCompleteRequest
import org.openapitools.client.model.PackingCompleteResponse
import org.openapitools.client.model.PackingQueue
import org.openapitools.client.model.PackingVideoResponse
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.PrintDeliveryNoteResponse
import org.openapitools.client.model.PrintLabelResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PackingApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new PackingApi(baseUrl)
}

class PackingApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : PackingCompleteResponse (Packing completed)
   *   code 404 : PluginError (Order not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderNumber 
   * @param packingCompleteRequest 
   */
  def completePacking(orderNumber: String, packingCompleteRequest: PackingCompleteRequest)(implicit bearerToken: BearerToken): ApiRequest[PackingCompleteResponse] =
    ApiRequest[PackingCompleteResponse](ApiMethods.POST, baseUrl, "/api/v1/packing/{order_number}/complete", "application/json")
      .withCredentials(bearerToken).withBody(packingCompleteRequest)
      .withPathParam("order_number", orderNumber)
      .withSuccessResponse[PackingCompleteResponse](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : PackingQueue (Packing queue)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   */
  def getPackingQueue(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[PackingQueue] =
    ApiRequest[PackingQueue](ApiMethods.GET, baseUrl, "/api/v1/packing/queue", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withSuccessResponse[PackingQueue](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PrintDeliveryNoteResponse (Delivery note printed)
   *   code 404 : PluginError (Order not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderNumber 
   */
  def printDeliveryNote(orderNumber: String)(implicit bearerToken: BearerToken): ApiRequest[PrintDeliveryNoteResponse] =
    ApiRequest[PrintDeliveryNoteResponse](ApiMethods.POST, baseUrl, "/api/v1/packing/{order_number}/print-delivery-note", "application/json")
      .withCredentials(bearerToken).withPathParam("order_number", orderNumber)
      .withSuccessResponse[PrintDeliveryNoteResponse](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : PrintLabelResponse (Label printed)
   *   code 404 : PluginError (Order not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderNumber 
   */
  def printLabel(orderNumber: String)(implicit bearerToken: BearerToken): ApiRequest[PrintLabelResponse] =
    ApiRequest[PrintLabelResponse](ApiMethods.POST, baseUrl, "/api/v1/packing/{order_number}/print-label", "application/json")
      .withCredentials(bearerToken).withPathParam("order_number", orderNumber)
      .withSuccessResponse[PrintLabelResponse](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : PackingVideoResponse (Video recorded)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderNumber 
   * @param body 
   */
  def recordPackingVideo(orderNumber: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[PackingVideoResponse] =
    ApiRequest[PackingVideoResponse](ApiMethods.POST, baseUrl, "/api/v1/packing/{order_number}/record-video", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("order_number", orderNumber)
      .withSuccessResponse[PackingVideoResponse](200)
      



}

