/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PayGapExportResponse
import org.openapitools.client.model.PayGapInfoResponse
import org.openapitools.client.model.PayGapReport
import org.openapitools.client.model.PluginError
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PaygapApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new PaygapApi(baseUrl)
}

class PaygapApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : PayGapInfoResponse (Individual pay information (§ 10-14 EntgTranspG))
   *   code 404 : PluginError (Employee not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param employeeId 
   */
  def paygapAuskunftApi(employeeId: UUID)(implicit bearerToken: BearerToken): ApiRequest[PayGapInfoResponse] =
    ApiRequest[PayGapInfoResponse](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/paygap/auskunft/{employee_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("employee_id", employeeId)
      .withSuccessResponse[PayGapInfoResponse](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : PayGapExportResponse (Gender pay gap CSV export)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def paygapExportApi()(implicit bearerToken: BearerToken): ApiRequest[PayGapExportResponse] =
    ApiRequest[PayGapExportResponse](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/paygap/export", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[PayGapExportResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : PayGapReport (Gender pay gap report (EntgTranspG, EU 2023/970))
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def paygapReportApi()(implicit bearerToken: BearerToken): ApiRequest[PayGapReport] =
    ApiRequest[PayGapReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/paygap/report", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[PayGapReport](200)
      



}

