/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.GatewayOAuthAuthorizeRequest
import org.openapitools.client.model.GatewayOAuthAuthorizeResponse
import org.openapitools.client.model.GatewayOAuthCallbackRequest
import org.openapitools.client.model.PaymentGateway
import org.openapitools.client.model.PluginError
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PaymentGatewayApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new PaymentGatewayApi(baseUrl)
}

class PaymentGatewayApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : PaymentGateway (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param body 
   */
  def createPaymentGatewayApi(body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[PaymentGateway] =
    ApiRequest[PaymentGateway](ApiMethods.POST, baseUrl, "/api/v1/payment-gateways", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withSuccessResponse[PaymentGateway](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 :  (Deleted)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param gatewayId 
   */
  def deletePaymentGatewayApi(gatewayId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/payment-gateways/{gateway_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("gateway_id", gatewayId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[PaymentGateway] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listPaymentGatewaysApi()(implicit bearerToken: BearerToken): ApiRequest[Seq[PaymentGateway]] =
    ApiRequest[Seq[PaymentGateway]](ApiMethods.GET, baseUrl, "/api/v1/payment-gateways/", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[PaymentGateway]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : GatewayOAuthAuthorizeResponse (OAuth authorization URL)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param gatewayOAuthAuthorizeRequest 
   */
  def oauthAuthorizeApi(gatewayOAuthAuthorizeRequest: GatewayOAuthAuthorizeRequest)(implicit bearerToken: BearerToken): ApiRequest[GatewayOAuthAuthorizeResponse] =
    ApiRequest[GatewayOAuthAuthorizeResponse](ApiMethods.POST, baseUrl, "/api/v1/payment-gateways/oauth/authorize", "application/json")
      .withCredentials(bearerToken).withBody(gatewayOAuthAuthorizeRequest)
      .withSuccessResponse[GatewayOAuthAuthorizeResponse](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PaymentGateway (Gateway connected)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param gatewayOAuthCallbackRequest 
   */
  def oauthCallbackApi(gatewayOAuthCallbackRequest: GatewayOAuthCallbackRequest)(implicit bearerToken: BearerToken): ApiRequest[PaymentGateway] =
    ApiRequest[PaymentGateway](ApiMethods.POST, baseUrl, "/api/v1/payment-gateways/oauth/callback", "application/json")
      .withCredentials(bearerToken).withBody(gatewayOAuthCallbackRequest)
      .withSuccessResponse[PaymentGateway](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PaymentGateway (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param gatewayId 
   * @param body 
   */
  def updatePaymentGatewayApi(gatewayId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[PaymentGateway] =
    ApiRequest[PaymentGateway](ApiMethods.PUT, baseUrl, "/api/v1/payment-gateways/{gateway_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("gateway_id", gatewayId)
      .withSuccessResponse[PaymentGateway](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

