/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.PostingCategory
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PostingCategoryApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new PostingCategoryApi(baseUrl)
}

class PostingCategoryApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : PostingCategory (Created)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param body 
   */
  def createPostingCategory(body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[PostingCategory] =
    ApiRequest[PostingCategory](ApiMethods.POST, baseUrl, "/api/v1/posting-categories", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withSuccessResponse[PostingCategory](201)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (Deleted)
   *   code 404 :  (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param categoryId 
   */
  def deletePostingCategory(categoryId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/posting-categories/{category_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("category_id", categoryId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Unit](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[PostingCategory] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listPostingCategories()(implicit bearerToken: BearerToken): ApiRequest[Seq[PostingCategory]] =
    ApiRequest[Seq[PostingCategory]](ApiMethods.GET, baseUrl, "/api/v1/posting-categories", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[PostingCategory]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 :  (Seeded)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param skrVersion 
   */
  def seedPostingCategories(skrVersion: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/v1/posting-categories/seed/{skr_version}", "application/json")
      .withCredentials(bearerToken).withPathParam("skr_version", skrVersion)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PostingCategory (Updated)
   *   code 404 :  (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param categoryId 
   * @param body 
   */
  def updatePostingCategory(categoryId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[PostingCategory] =
    ApiRequest[PostingCategory](ApiMethods.PUT, baseUrl, "/api/v1/posting-categories/{category_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("category_id", categoryId)
      .withSuccessResponse[PostingCategory](200)
      .withErrorResponse[Unit](404)
      .withErrorResponse[PluginError](500)
      



}

