/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.PriceTier
import org.openapitools.client.model.PriceTierCreate
import org.openapitools.client.model.PriceTierUpdate
import org.openapitools.client.model.ResolvedPriceResponse
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PriceTierApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new PriceTierApi(baseUrl)
}

class PriceTierApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : PriceTier (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param priceTierCreate 
   */
  def createPriceTier(priceTierCreate: PriceTierCreate)(implicit bearerToken: BearerToken): ApiRequest[PriceTier] =
    ApiRequest[PriceTier](ApiMethods.POST, baseUrl, "/api/v1/price-tiers", "application/json")
      .withCredentials(bearerToken).withBody(priceTierCreate)
      .withSuccessResponse[PriceTier](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param priceTierId 
   */
  def deletePriceTier(priceTierId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/price-tiers/{price_tier_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("price_tier_id", priceTierId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PriceTier (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param priceTierId 
   */
  def getPriceTier(priceTierId: String)(implicit bearerToken: BearerToken): ApiRequest[PriceTier] =
    ApiRequest[PriceTier](ApiMethods.GET, baseUrl, "/api/v1/price-tiers/{price_tier_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("price_tier_id", priceTierId)
      .withSuccessResponse[PriceTier](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ResolvedPriceResponse (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productId 
   * @param quantity 
   * @param contactId Contact used to match customer-group-scoped tiers.
   */
  def getResolvedPrice(productId: UUID, quantity: Option[Long] = None, contactId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ResolvedPriceResponse] =
    ApiRequest[ResolvedPriceResponse](ApiMethods.GET, baseUrl, "/api/v1/price-tiers/resolved", "application/json")
      .withCredentials(bearerToken).withQueryParam("productId", productId)
      .withQueryParam("quantity", quantity)
      .withQueryParam("contactId", contactId)
      .withSuccessResponse[ResolvedPriceResponse](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[PriceTier] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param productId 
   * @param customerGroupId 
   */
  def listPriceTiers(page: Option[Int] = None, pageSize: Option[Int] = None, productId: Option[UUID] = None, customerGroupId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[PriceTier]] =
    ApiRequest[Seq[PriceTier]](ApiMethods.GET, baseUrl, "/api/v1/price-tiers/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("product_id", productId)
      .withQueryParam("customer_group_id", customerGroupId)
      .withSuccessResponse[Seq[PriceTier]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PriceTier (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param priceTierId 
   * @param priceTierUpdate 
   */
  def updatePriceTier(priceTierId: String, priceTierUpdate: PriceTierUpdate)(implicit bearerToken: BearerToken): ApiRequest[PriceTier] =
    ApiRequest[PriceTier](ApiMethods.PUT, baseUrl, "/api/v1/price-tiers/{price_tier_id}", "application/json")
      .withCredentials(bearerToken).withBody(priceTierUpdate)
      .withPathParam("price_tier_id", priceTierId)
      .withSuccessResponse[PriceTier](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

