/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.GenerateVariantsRequest
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ProductVariant
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductVariantApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ProductVariantApi(baseUrl)
}

class ProductVariantApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : ProductVariant (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productVariant 
   */
  def createProductVariant(productVariant: ProductVariant)(implicit bearerToken: BearerToken): ApiRequest[ProductVariant] =
    ApiRequest[ProductVariant](ApiMethods.POST, baseUrl, "/api/v1/product-variants", "application/json")
      .withCredentials(bearerToken).withBody(productVariant)
      .withSuccessResponse[ProductVariant](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param variantId 
   */
  def deleteProductVariant(variantId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/product-variants/{variant_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("variant_id", variantId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : Seq[ProductVariant] (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param generateVariantsRequest 
   */
  def generateProductVariants(generateVariantsRequest: GenerateVariantsRequest)(implicit bearerToken: BearerToken): ApiRequest[Seq[ProductVariant]] =
    ApiRequest[Seq[ProductVariant]](ApiMethods.POST, baseUrl, "/api/v1/product-variants/generate", "application/json")
      .withCredentials(bearerToken).withBody(generateVariantsRequest)
      .withSuccessResponse[Seq[ProductVariant]](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductVariant (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param variantId 
   */
  def getProductVariant(variantId: String)(implicit bearerToken: BearerToken): ApiRequest[ProductVariant] =
    ApiRequest[ProductVariant](ApiMethods.GET, baseUrl, "/api/v1/product-variants/{variant_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("variant_id", variantId)
      .withSuccessResponse[ProductVariant](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ProductVariant] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param productId 
   * @param isActive 
   */
  def listProductVariants(page: Option[Int] = None, pageSize: Option[Int] = None, productId: Option[UUID] = None, isActive: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ProductVariant]] =
    ApiRequest[Seq[ProductVariant]](ApiMethods.GET, baseUrl, "/api/v1/product-variants/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("product_id", productId)
      .withQueryParam("is_active", isActive)
      .withSuccessResponse[Seq[ProductVariant]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductVariant (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param variantId 
   * @param body 
   */
  def updateProductVariant(variantId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[ProductVariant] =
    ApiRequest[ProductVariant](ApiMethods.PUT, baseUrl, "/api/v1/product-variants/{variant_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("variant_id", variantId)
      .withSuccessResponse[ProductVariant](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

