/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ProductAttribute
import org.openapitools.client.model.ProductAttributeCreate
import org.openapitools.client.model.ProductAttributeUpdate
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductAttributeApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ProductAttributeApi(baseUrl)
}

class ProductAttributeApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : ProductAttribute (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productAttributeCreate 
   */
  def createProductAttribute(productAttributeCreate: ProductAttributeCreate)(implicit bearerToken: BearerToken): ApiRequest[ProductAttribute] =
    ApiRequest[ProductAttribute](ApiMethods.POST, baseUrl, "/api/v1/product-attributes", "application/json")
      .withCredentials(bearerToken).withBody(productAttributeCreate)
      .withSuccessResponse[ProductAttribute](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param attributeId 
   */
  def deleteProductAttribute(attributeId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/product-attributes/{attribute_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("attribute_id", attributeId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductAttribute (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param attributeId 
   */
  def getProductAttribute(attributeId: String)(implicit bearerToken: BearerToken): ApiRequest[ProductAttribute] =
    ApiRequest[ProductAttribute](ApiMethods.GET, baseUrl, "/api/v1/product-attributes/{attribute_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("attribute_id", attributeId)
      .withSuccessResponse[ProductAttribute](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ProductAttribute] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param productId 
   * @param isFilterable 
   * @param search 
   */
  def listProductAttributes(page: Option[Int] = None, pageSize: Option[Int] = None, productId: Option[UUID] = None, isFilterable: Option[Boolean] = None, search: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ProductAttribute]] =
    ApiRequest[Seq[ProductAttribute]](ApiMethods.GET, baseUrl, "/api/v1/product-attributes/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("product_id", productId)
      .withQueryParam("is_filterable", isFilterable)
      .withQueryParam("search", search)
      .withSuccessResponse[Seq[ProductAttribute]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductAttribute (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param attributeId 
   * @param productAttributeUpdate 
   */
  def updateProductAttribute(attributeId: String, productAttributeUpdate: ProductAttributeUpdate)(implicit bearerToken: BearerToken): ApiRequest[ProductAttribute] =
    ApiRequest[ProductAttribute](ApiMethods.PUT, baseUrl, "/api/v1/product-attributes/{attribute_id}", "application/json")
      .withCredentials(bearerToken).withBody(productAttributeUpdate)
      .withPathParam("attribute_id", attributeId)
      .withSuccessResponse[ProductAttribute](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

