/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ProductionOrder
import org.openapitools.client.model.ProductionOrderCosting
import org.openapitools.client.model.ProductionOrderStatusUpdate
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductionOrderApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ProductionOrderApi(baseUrl)
}

class ProductionOrderApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : ProductionOrder (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productionOrder 
   */
  def createProductionOrder(productionOrder: ProductionOrder)(implicit bearerToken: BearerToken): ApiRequest[ProductionOrder] =
    ApiRequest[ProductionOrder](ApiMethods.POST, baseUrl, "/api/v1/production-orders", "application/json")
      .withCredentials(bearerToken).withBody(productionOrder)
      .withSuccessResponse[ProductionOrder](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 :  (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productionOrderId 
   */
  def deleteProductionOrder(productionOrderId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/production-orders/{production_order_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("production_order_id", productionOrderId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductionOrder (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productionOrderId 
   */
  def getProductionOrder(productionOrderId: UUID)(implicit bearerToken: BearerToken): ApiRequest[ProductionOrder] =
    ApiRequest[ProductionOrder](ApiMethods.GET, baseUrl, "/api/v1/production-orders/{production_order_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("production_order_id", productionOrderId)
      .withSuccessResponse[ProductionOrder](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ProductionOrder] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param status Filter by status.
   */
  def listProductionOrders(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, status: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ProductionOrder]] =
    ApiRequest[Seq[ProductionOrder]](ApiMethods.GET, baseUrl, "/api/v1/production-orders/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("status", status)
      .withSuccessResponse[Seq[ProductionOrder]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductionOrderCosting (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productionOrderId 
   */
  def productionOrderCosting(productionOrderId: UUID)(implicit bearerToken: BearerToken): ApiRequest[ProductionOrderCosting] =
    ApiRequest[ProductionOrderCosting](ApiMethods.GET, baseUrl, "/api/v1/production-orders/{production_order_id}/costing", "application/json")
      .withCredentials(bearerToken).withPathParam("production_order_id", productionOrderId)
      .withSuccessResponse[ProductionOrderCosting](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductionOrder (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productionOrderId 
   * @param productionOrder 
   */
  def updateProductionOrder(productionOrderId: UUID, productionOrder: ProductionOrder)(implicit bearerToken: BearerToken): ApiRequest[ProductionOrder] =
    ApiRequest[ProductionOrder](ApiMethods.PUT, baseUrl, "/api/v1/production-orders/{production_order_id}", "application/json")
      .withCredentials(bearerToken).withBody(productionOrder)
      .withPathParam("production_order_id", productionOrderId)
      .withSuccessResponse[ProductionOrder](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductionOrder (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productionOrderId 
   * @param productionOrderStatusUpdate 
   */
  def updateProductionOrderStatus(productionOrderId: UUID, productionOrderStatusUpdate: ProductionOrderStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[ProductionOrder] =
    ApiRequest[ProductionOrder](ApiMethods.PUT, baseUrl, "/api/v1/production-orders/{production_order_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(productionOrderStatusUpdate)
      .withPathParam("production_order_id", productionOrderId)
      .withSuccessResponse[ProductionOrder](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

