/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ProductCategory
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductCategoryApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ProductCategoryApi(baseUrl)
}

class ProductCategoryApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : ProductCategory (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productCategory 
   */
  def createProductCategory(productCategory: ProductCategory)(implicit bearerToken: BearerToken): ApiRequest[ProductCategory] =
    ApiRequest[ProductCategory](ApiMethods.POST, baseUrl, "/api/v1/product-categories", "application/json")
      .withCredentials(bearerToken).withBody(productCategory)
      .withSuccessResponse[ProductCategory](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (Deleted)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param categoryId 
   */
  def deleteProductCategory(categoryId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/product-categories/{category_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("category_id", categoryId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductCategory (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param categoryId 
   */
  def getProductCategory(categoryId: String)(implicit bearerToken: BearerToken): ApiRequest[ProductCategory] =
    ApiRequest[ProductCategory](ApiMethods.GET, baseUrl, "/api/v1/product-categories/{category_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("category_id", categoryId)
      .withSuccessResponse[ProductCategory](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ProductCategory] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listProductCategories()(implicit bearerToken: BearerToken): ApiRequest[Seq[ProductCategory]] =
    ApiRequest[Seq[ProductCategory]](ApiMethods.GET, baseUrl, "/api/v1/product-categories", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[ProductCategory]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductCategory (Updated)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param categoryId 
   * @param body 
   */
  def updateProductCategory(categoryId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[ProductCategory] =
    ApiRequest[ProductCategory](ApiMethods.PUT, baseUrl, "/api/v1/product-categories/{category_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("category_id", categoryId)
      .withSuccessResponse[ProductCategory](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

