/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.Product
import org.openapitools.client.model.ProductCreate
import org.openapitools.client.model.ProductStock
import org.openapitools.client.model.ProductUpdate
import org.openapitools.client.model.StockUpdateRequest
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ProductApi(baseUrl)
}

class ProductApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Product (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productCreate 
   */
  def createProductApi(productCreate: ProductCreate)(implicit bearerToken: BearerToken): ApiRequest[Product] =
    ApiRequest[Product](ApiMethods.POST, baseUrl, "/api/v1/products", "application/json")
      .withCredentials(bearerToken).withBody(productCreate)
      .withSuccessResponse[Product](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productId 
   */
  def deleteProductApi(productId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/products/{product_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("product_id", productId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Product (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productId 
   */
  def getProductApi(productId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Product] =
    ApiRequest[Product](ApiMethods.GET, baseUrl, "/api/v1/products/{product_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("product_id", productId)
      .withSuccessResponse[Product](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductStock (Stock info)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productId 
   */
  def getProductStockApi(productId: UUID)(implicit bearerToken: BearerToken): ApiRequest[ProductStock] =
    ApiRequest[ProductStock](ApiMethods.GET, baseUrl, "/api/v1/products/{product_id}/stock", "application/json")
      .withCredentials(bearerToken).withPathParam("product_id", productId)
      .withSuccessResponse[ProductStock](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Product] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getProductsApi(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Product]] =
    ApiRequest[Seq[Product]](ApiMethods.GET, baseUrl, "/api/v1/products/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Product]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ProductStock] (Low stock products)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param threshold 
   */
  def listLowStockProductsApi(threshold: Option[Long] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ProductStock]] =
    ApiRequest[Seq[ProductStock]](ApiMethods.GET, baseUrl, "/api/v1/products/low-stock", "application/json")
      .withCredentials(bearerToken).withQueryParam("threshold", threshold)
      .withSuccessResponse[Seq[ProductStock]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Product (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productId 
   */
  def productRestore(productId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Product] =
    ApiRequest[Product](ApiMethods.POST, baseUrl, "/api/v1/products/{product_id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("product_id", productId)
      .withSuccessResponse[Product](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Product (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productId 
   * @param productUpdate 
   */
  def updateProductApi(productId: UUID, productUpdate: ProductUpdate)(implicit bearerToken: BearerToken): ApiRequest[Product] =
    ApiRequest[Product](ApiMethods.PUT, baseUrl, "/api/v1/products/{product_id}", "application/json")
      .withCredentials(bearerToken).withBody(productUpdate)
      .withPathParam("product_id", productId)
      .withSuccessResponse[Product](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProductStock (Stock updated)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productId 
   * @param stockUpdateRequest 
   */
  def updateProductStockApi(productId: UUID, stockUpdateRequest: StockUpdateRequest)(implicit bearerToken: BearerToken): ApiRequest[ProductStock] =
    ApiRequest[ProductStock](ApiMethods.PUT, baseUrl, "/api/v1/products/{product_id}/stock", "application/json")
      .withCredentials(bearerToken).withBody(stockUpdateRequest)
      .withPathParam("product_id", productId)
      .withSuccessResponse[ProductStock](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

