/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.ConvertResponse
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ProformaInvoice
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProformaInvoiceApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ProformaInvoiceApi(baseUrl)
}

class ProformaInvoiceApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : ConvertResponse (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param proformaId 
   */
  def convertProformaToInvoice(proformaId: String)(implicit bearerToken: BearerToken): ApiRequest[ConvertResponse] =
    ApiRequest[ConvertResponse](ApiMethods.POST, baseUrl, "/api/v1/proforma-invoices/{proforma_id}/convert", "application/json")
      .withCredentials(bearerToken).withPathParam("proforma_id", proformaId)
      .withSuccessResponse[ConvertResponse](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : ProformaInvoice (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param proformaInvoice 
   */
  def createProformaInvoice(proformaInvoice: ProformaInvoice)(implicit bearerToken: BearerToken): ApiRequest[ProformaInvoice] =
    ApiRequest[ProformaInvoice](ApiMethods.POST, baseUrl, "/api/v1/proforma-invoices", "application/json")
      .withCredentials(bearerToken).withBody(proformaInvoice)
      .withSuccessResponse[ProformaInvoice](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param proformaId 
   */
  def deleteProformaInvoice(proformaId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/proforma-invoices/{proforma_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("proforma_id", proformaId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProformaInvoice (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param proformaId 
   */
  def getProformaInvoice(proformaId: String)(implicit bearerToken: BearerToken): ApiRequest[ProformaInvoice] =
    ApiRequest[ProformaInvoice](ApiMethods.GET, baseUrl, "/api/v1/proforma-invoices/{proforma_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("proforma_id", proformaId)
      .withSuccessResponse[ProformaInvoice](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ProformaInvoice] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param customerId 
   * @param orderNumber 
   */
  def listProformaInvoices(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, customerId: Option[String] = None, orderNumber: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ProformaInvoice]] =
    ApiRequest[Seq[ProformaInvoice]](ApiMethods.GET, baseUrl, "/api/v1/proforma-invoices/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("customer_id", customerId)
      .withQueryParam("order_number", orderNumber)
      .withSuccessResponse[Seq[ProformaInvoice]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ProformaInvoice (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param proformaId 
   * @param body 
   */
  def updateProformaInvoice(proformaId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[ProformaInvoice] =
    ApiRequest[ProformaInvoice](ApiMethods.PUT, baseUrl, "/api/v1/proforma-invoices/{proforma_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("proforma_id", proformaId)
      .withSuccessResponse[ProformaInvoice](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

