/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.PublicReturnRequest
import org.openapitools.client.model.PublicReturnResponse
import org.openapitools.client.model.PublicReturnStatusResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PublicReturnsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new PublicReturnsApi(baseUrl)
}

class PublicReturnsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : PublicReturnStatusResponse (Return status)
   *   code 400 : PluginError (Bad request (missing return identifier))
   *   code 404 : PluginError (Return not found or email mismatch)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param email 
   * @param returnNumber Either return_number or return_order_id must be provided.
   * @param returnOrderId 
   * @param orderNumber 
   */
  def getPublicReturnStatus(email: String, returnNumber: Option[String] = None, returnOrderId: Option[String] = None, orderNumber: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[PublicReturnStatusResponse] =
    ApiRequest[PublicReturnStatusResponse](ApiMethods.GET, baseUrl, "/api/v1/public/returns/status", "application/json")
      .withCredentials(bearerToken).withQueryParam("returnNumber", returnNumber)
      .withQueryParam("returnOrderId", returnOrderId)
      .withQueryParam("email", email)
      .withQueryParam("orderNumber", orderNumber)
      .withSuccessResponse[PublicReturnStatusResponse](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[PublicReturnStatusResponse] (Returns for the order)
   *   code 404 : PluginError (Order not found or email mismatch)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderNumber 
   * @param email 
   */
  def listPublicReturns(orderNumber: String, email: String)(implicit bearerToken: BearerToken): ApiRequest[Seq[PublicReturnStatusResponse]] =
    ApiRequest[Seq[PublicReturnStatusResponse]](ApiMethods.GET, baseUrl, "/api/v1/public/returns/list", "application/json")
      .withCredentials(bearerToken).withQueryParam("orderNumber", orderNumber)
      .withQueryParam("email", email)
      .withSuccessResponse[Seq[PublicReturnStatusResponse]](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : PublicReturnResponse (Return requested)
   *   code 400 : PluginError (Bad request (item not in order / quantity too high))
   *   code 404 : PluginError (Order not found or email mismatch)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param publicReturnRequest 
   */
  def requestPublicReturn(publicReturnRequest: PublicReturnRequest)(implicit bearerToken: BearerToken): ApiRequest[PublicReturnResponse] =
    ApiRequest[PublicReturnResponse](ApiMethods.POST, baseUrl, "/api/v1/public/returns/request", "application/json")
      .withCredentials(bearerToken).withBody(publicReturnRequest)
      .withSuccessResponse[PublicReturnResponse](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

