/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.InvoiceMatchRequest
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.PurchaseOrder
import org.openapitools.client.model.PurchaseOrderStatusUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PurchaseOrderApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new PurchaseOrderApi(baseUrl)
}

class PurchaseOrderApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : PurchaseOrder (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param purchaseOrder 
   */
  def createPurchaseOrder(purchaseOrder: PurchaseOrder)(implicit bearerToken: BearerToken): ApiRequest[PurchaseOrder] =
    ApiRequest[PurchaseOrder](ApiMethods.POST, baseUrl, "/api/v1/purchase-orders", "application/json")
      .withCredentials(bearerToken).withBody(purchaseOrder)
      .withSuccessResponse[PurchaseOrder](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param purchaseOrderId 
   */
  def deletePurchaseOrder(purchaseOrderId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/purchase-orders/{purchase_order_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("purchase_order_id", purchaseOrderId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PurchaseOrder (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param purchaseOrderId 
   */
  def getPurchaseOrder(purchaseOrderId: String)(implicit bearerToken: BearerToken): ApiRequest[PurchaseOrder] =
    ApiRequest[PurchaseOrder](ApiMethods.GET, baseUrl, "/api/v1/purchase-orders/{purchase_order_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("purchase_order_id", purchaseOrderId)
      .withSuccessResponse[PurchaseOrder](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[PurchaseOrder] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param supplierName 
   * @param search 
   */
  def listPurchaseOrders(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, supplierName: Option[String] = None, search: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[PurchaseOrder]] =
    ApiRequest[Seq[PurchaseOrder]](ApiMethods.GET, baseUrl, "/api/v1/purchase-orders/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("supplier_name", supplierName)
      .withQueryParam("search", search)
      .withSuccessResponse[Seq[PurchaseOrder]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : AnyType (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param purchaseOrderId 
   * @param invoiceMatchRequest 
   */
  def matchInvoice(purchaseOrderId: String, invoiceMatchRequest: InvoiceMatchRequest)(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.POST, baseUrl, "/api/v1/purchase-orders/{purchase_order_id}/match-invoice", "application/json")
      .withCredentials(bearerToken).withBody(invoiceMatchRequest)
      .withPathParam("purchase_order_id", purchaseOrderId)
      .withSuccessResponse[AnyType](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PurchaseOrder (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param purchaseOrderId 
   * @param body 
   */
  def updatePurchaseOrder(purchaseOrderId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[PurchaseOrder] =
    ApiRequest[PurchaseOrder](ApiMethods.PUT, baseUrl, "/api/v1/purchase-orders/{purchase_order_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("purchase_order_id", purchaseOrderId)
      .withSuccessResponse[PurchaseOrder](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : PurchaseOrder (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param purchaseOrderId 
   * @param purchaseOrderStatusUpdate 
   */
  def updatePurchaseOrderStatus(purchaseOrderId: String, purchaseOrderStatusUpdate: PurchaseOrderStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[PurchaseOrder] =
    ApiRequest[PurchaseOrder](ApiMethods.PUT, baseUrl, "/api/v1/purchase-orders/{purchase_order_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(purchaseOrderStatusUpdate)
      .withPathParam("purchase_order_id", purchaseOrderId)
      .withSuccessResponse[PurchaseOrder](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

