/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.OrderConfirmation
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.Quotation
import org.openapitools.client.model.QuotationCreate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object QuotationApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new QuotationApi(baseUrl)
}

class QuotationApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Quotation (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param quotationCreate 
   */
  def createQuotation(quotationCreate: QuotationCreate)(implicit bearerToken: BearerToken): ApiRequest[Quotation] =
    ApiRequest[Quotation](ApiMethods.POST, baseUrl, "/api/v1/quotations", "application/json")
      .withCredentials(bearerToken).withBody(quotationCreate)
      .withSuccessResponse[Quotation](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param quotationId 
   */
  def deleteQuotation(quotationId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/quotations/{quotation_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("quotation_id", quotationId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 :  (PDF file)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param quotationId 
   */
  def downloadQuotationPdf(quotationId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/quotations/{quotation_id}/pdf", "application/json")
      .withCredentials(bearerToken).withPathParam("quotation_id", quotationId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Quotation (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param quotationId 
   */
  def getQuotation(quotationId: String)(implicit bearerToken: BearerToken): ApiRequest[Quotation] =
    ApiRequest[Quotation](ApiMethods.GET, baseUrl, "/api/v1/quotations/{quotation_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("quotation_id", quotationId)
      .withSuccessResponse[Quotation](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Quotation] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def listQuotations(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Quotation]] =
    ApiRequest[Seq[Quotation]](ApiMethods.GET, baseUrl, "/api/v1/quotations/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Quotation]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : OrderConfirmation (Created OrderConfirmation)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param quotationId 
   */
  def pursueQuotation(quotationId: String)(implicit bearerToken: BearerToken): ApiRequest[OrderConfirmation] =
    ApiRequest[OrderConfirmation](ApiMethods.POST, baseUrl, "/api/v1/quotations/{quotation_id}/pursue", "application/json")
      .withCredentials(bearerToken).withPathParam("quotation_id", quotationId)
      .withSuccessResponse[OrderConfirmation](201)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Quotation (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param quotationId 
   */
  def quotationRestore(quotationId: String)(implicit bearerToken: BearerToken): ApiRequest[Quotation] =
    ApiRequest[Quotation](ApiMethods.POST, baseUrl, "/api/v1/quotations/{quotation_id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("quotation_id", quotationId)
      .withSuccessResponse[Quotation](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Quotation (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param quotationId 
   * @param body 
   */
  def updateQuotation(quotationId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Quotation] =
    ApiRequest[Quotation](ApiMethods.PUT, baseUrl, "/api/v1/quotations/{quotation_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("quotation_id", quotationId)
      .withSuccessResponse[Quotation](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

