/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.RecurringTemplate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RecurringTemplateApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new RecurringTemplateApi(baseUrl)
}

class RecurringTemplateApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : RecurringTemplate (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param body 
   */
  def createRecurringTemplate(body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[RecurringTemplate] =
    ApiRequest[RecurringTemplate](ApiMethods.POST, baseUrl, "/api/v1/recurring-templates", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withSuccessResponse[RecurringTemplate](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param templateId 
   */
  def deleteRecurringTemplate(templateId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/recurring-templates/{template_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("template_id", templateId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : RecurringTemplate (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param templateId 
   */
  def getRecurringTemplate(templateId: String)(implicit bearerToken: BearerToken): ApiRequest[RecurringTemplate] =
    ApiRequest[RecurringTemplate](ApiMethods.GET, baseUrl, "/api/v1/recurring-templates/{template_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("template_id", templateId)
      .withSuccessResponse[RecurringTemplate](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[RecurringTemplate] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listRecurringTemplates()(implicit bearerToken: BearerToken): ApiRequest[Seq[RecurringTemplate]] =
    ApiRequest[Seq[RecurringTemplate]](ApiMethods.GET, baseUrl, "/api/v1/recurring-templates/", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[RecurringTemplate]](200)
      .withErrorResponse[PluginError](500)
      



}

