/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ReorderProposalResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ReorderProposalApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ReorderProposalApi(baseUrl)
}

class ReorderProposalApi(baseUrl: String) {

  /**
   * Returns the created purchase order id. Suggested line items are generated with the current reorder quantity per product.
   * 
   * Expected answers:
   *   code 201 : AnyType (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param configuredOnly Only include products with a reorder point configured (`min_stock`).
   * @param warehouseId Limit to a single warehouse id.
   */
  def applyReorderProposal(configuredOnly: Option[Boolean] = None, warehouseId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.POST, baseUrl, "/api/v1/reorder-proposals/apply", "application/json")
      .withCredentials(bearerToken).withQueryParam("configuredOnly", configuredOnly)
      .withQueryParam("warehouseId", warehouseId)
      .withSuccessResponse[AnyType](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ReorderProposalResponse (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param configuredOnly Only include products with a reorder point configured (`min_stock`).
   * @param warehouseId Limit to a single warehouse id.
   */
  def getReorderProposal(configuredOnly: Option[Boolean] = None, warehouseId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ReorderProposalResponse] =
    ApiRequest[ReorderProposalResponse](ApiMethods.GET, baseUrl, "/api/v1/reorder-proposals", "application/json")
      .withCredentials(bearerToken).withQueryParam("configuredOnly", configuredOnly)
      .withQueryParam("warehouseId", warehouseId)
      .withSuccessResponse[ReorderProposalResponse](200)
      .withErrorResponse[PluginError](500)
      



}

