/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ReplenishmentResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ReplenishmentApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ReplenishmentApi(baseUrl)
}

class ReplenishmentApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : AnyType (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param targetWarehouseId Warehouse to be replenished. Defaults to the tenant's default warehouse.
   * @param sourceWarehouseId Restrict source warehouses to this id.
   */
  def applyReplenishments(targetWarehouseId: Option[String] = None, sourceWarehouseId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.POST, baseUrl, "/api/v1/replenishments/apply", "application/json")
      .withCredentials(bearerToken).withQueryParam("targetWarehouseId", targetWarehouseId)
      .withQueryParam("sourceWarehouseId", sourceWarehouseId)
      .withSuccessResponse[AnyType](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ReplenishmentResponse (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param targetWarehouseId Warehouse to be replenished. Defaults to the tenant's default warehouse.
   * @param sourceWarehouseId Restrict source warehouses to this id.
   */
  def getReplenishments(targetWarehouseId: Option[String] = None, sourceWarehouseId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[ReplenishmentResponse] =
    ApiRequest[ReplenishmentResponse](ApiMethods.GET, baseUrl, "/api/v1/replenishments", "application/json")
      .withCredentials(bearerToken).withQueryParam("targetWarehouseId", targetWarehouseId)
      .withQueryParam("sourceWarehouseId", sourceWarehouseId)
      .withSuccessResponse[ReplenishmentResponse](200)
      .withErrorResponse[PluginError](500)
      



}

