/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BilanzReport
import org.openapitools.client.model.GuVReport
import org.openapitools.client.model.KontoReport
import org.openapitools.client.model.UmsatzsteuerReport
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ReportsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ReportsApi(baseUrl)
}

class ReportsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : BilanzReport (Balance sheet)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param month 
   * @param dateFrom 
   * @param dateTo 
   * @param page 
   * @param pageSize 
   */
  def bilanzReportApi(year: Option[Int] = None, month: Option[Int] = None, dateFrom: Option[String] = None, dateTo: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[BilanzReport] =
    ApiRequest[BilanzReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/reports/bilanz", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("month", month)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[BilanzReport](200)
      

  /**
   * Expected answers:
   *   code 200 : GuVReport (GuV report)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param month 
   * @param dateFrom 
   * @param dateTo 
   * @param page 
   * @param pageSize 
   */
  def guvReportApi(year: Option[Int] = None, month: Option[Int] = None, dateFrom: Option[String] = None, dateTo: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[GuVReport] =
    ApiRequest[GuVReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/reports/guv", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("month", month)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[GuVReport](200)
      

  /**
   * Expected answers:
   *   code 200 : KontoReport (Account overview)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param month 
   * @param dateFrom 
   * @param dateTo 
   * @param page 
   * @param pageSize 
   */
  def kontenansichtReportApi(year: Option[Int] = None, month: Option[Int] = None, dateFrom: Option[String] = None, dateTo: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[KontoReport] =
    ApiRequest[KontoReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/reports/kontenansicht", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("month", month)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[KontoReport](200)
      

  /**
   * Expected answers:
   *   code 200 : UmsatzsteuerReport (VAT report)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   * @param month 
   * @param dateFrom 
   * @param dateTo 
   * @param page 
   * @param pageSize 
   */
  def umsatzsteuerReportApi(year: Option[Int] = None, month: Option[Int] = None, dateFrom: Option[String] = None, dateTo: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[UmsatzsteuerReport] =
    ApiRequest[UmsatzsteuerReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/reports/umsatzsteuer", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withQueryParam("month", month)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[UmsatzsteuerReport](200)
      



}

