/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ReturnLogisticsQueueItem
import org.openapitools.client.model.ReturnLogisticsSummary
import org.openapitools.client.model.ReturnOrder
import org.openapitools.client.model.ReturnOrderStatusUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ReturnOrderApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ReturnOrderApi(baseUrl)
}

class ReturnOrderApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : ReturnOrder (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param returnOrder 
   */
  def createReturnOrder(returnOrder: ReturnOrder)(implicit bearerToken: BearerToken): ApiRequest[ReturnOrder] =
    ApiRequest[ReturnOrder](ApiMethods.POST, baseUrl, "/api/v1/returns", "application/json")
      .withCredentials(bearerToken).withBody(returnOrder)
      .withSuccessResponse[ReturnOrder](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param returnOrderId 
   */
  def deleteReturnOrder(returnOrderId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/returns/{return_order_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("return_order_id", returnOrderId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ReturnOrder (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param returnOrderId 
   */
  def getReturnOrder(returnOrderId: String)(implicit bearerToken: BearerToken): ApiRequest[ReturnOrder] =
    ApiRequest[ReturnOrder](ApiMethods.GET, baseUrl, "/api/v1/returns/{return_order_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("return_order_id", returnOrderId)
      .withSuccessResponse[ReturnOrder](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ReturnOrder] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param customerName 
   * @param orderNumber 
   */
  def listReturnOrders(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, customerName: Option[String] = None, orderNumber: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ReturnOrder]] =
    ApiRequest[Seq[ReturnOrder]](ApiMethods.GET, baseUrl, "/api/v1/returns/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("customer_name", customerName)
      .withQueryParam("order_number", orderNumber)
      .withSuccessResponse[Seq[ReturnOrder]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ReturnLogisticsQueueItem] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def returnLogisticsQueue()(implicit bearerToken: BearerToken): ApiRequest[Seq[ReturnLogisticsQueueItem]] =
    ApiRequest[Seq[ReturnLogisticsQueueItem]](ApiMethods.GET, baseUrl, "/api/v1/returns/logistics-queue", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[ReturnLogisticsQueueItem]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ReturnLogisticsSummary (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def returnLogisticsSummary()(implicit bearerToken: BearerToken): ApiRequest[ReturnLogisticsSummary] =
    ApiRequest[ReturnLogisticsSummary](ApiMethods.GET, baseUrl, "/api/v1/returns/logistics-summary", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ReturnLogisticsSummary](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ReturnOrder (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param returnOrderId 
   * @param body 
   */
  def updateReturnOrder(returnOrderId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[ReturnOrder] =
    ApiRequest[ReturnOrder](ApiMethods.PUT, baseUrl, "/api/v1/returns/{return_order_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("return_order_id", returnOrderId)
      .withSuccessResponse[ReturnOrder](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ReturnOrder (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param returnOrderId 
   * @param returnOrderStatusUpdate 
   */
  def updateReturnOrderStatus(returnOrderId: String, returnOrderStatusUpdate: ReturnOrderStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[ReturnOrder] =
    ApiRequest[ReturnOrder](ApiMethods.PUT, baseUrl, "/api/v1/returns/{return_order_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(returnOrderStatusUpdate)
      .withPathParam("return_order_id", returnOrderId)
      .withSuccessResponse[ReturnOrder](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

