/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.Rfq
import org.openapitools.client.model.RfqStatusUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RfqApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new RfqApi(baseUrl)
}

class RfqApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : AnyType (Created)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param rfqId 
   */
  def convertRfq(rfqId: String)(implicit bearerToken: BearerToken): ApiRequest[AnyType] =
    ApiRequest[AnyType](ApiMethods.POST, baseUrl, "/api/v1/rfqs/{rfq_id}/convert", "application/json")
      .withCredentials(bearerToken).withPathParam("rfq_id", rfqId)
      .withSuccessResponse[AnyType](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : Rfq (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param rfq 
   */
  def createRfq(rfq: Rfq)(implicit bearerToken: BearerToken): ApiRequest[Rfq] =
    ApiRequest[Rfq](ApiMethods.POST, baseUrl, "/api/v1/rfqs", "application/json")
      .withCredentials(bearerToken).withBody(rfq)
      .withSuccessResponse[Rfq](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param rfqId 
   */
  def deleteRfq(rfqId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/rfqs/{rfq_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("rfq_id", rfqId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Rfq (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param rfqId 
   */
  def getRfq(rfqId: String)(implicit bearerToken: BearerToken): ApiRequest[Rfq] =
    ApiRequest[Rfq](ApiMethods.GET, baseUrl, "/api/v1/rfqs/{rfq_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("rfq_id", rfqId)
      .withSuccessResponse[Rfq](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Rfq] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param supplierName 
   */
  def listRfqs(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, supplierName: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Rfq]] =
    ApiRequest[Seq[Rfq]](ApiMethods.GET, baseUrl, "/api/v1/rfqs/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("supplier_name", supplierName)
      .withSuccessResponse[Seq[Rfq]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Rfq (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param rfqId 
   * @param body 
   */
  def updateRfq(rfqId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Rfq] =
    ApiRequest[Rfq](ApiMethods.PUT, baseUrl, "/api/v1/rfqs/{rfq_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("rfq_id", rfqId)
      .withSuccessResponse[Rfq](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Rfq (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param rfqId 
   * @param rfqStatusUpdate 
   */
  def updateRfqStatus(rfqId: String, rfqStatusUpdate: RfqStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[Rfq] =
    ApiRequest[Rfq](ApiMethods.PUT, baseUrl, "/api/v1/rfqs/{rfq_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(rfqStatusUpdate)
      .withPathParam("rfq_id", rfqId)
      .withSuccessResponse[Rfq](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

