/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ServiceAssignment
import org.openapitools.client.model.ServiceAssignmentCreate
import org.openapitools.client.model.ServiceAssignmentUpdate
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ServiceAssignmentApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ServiceAssignmentApi(baseUrl)
}

class ServiceAssignmentApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : ServiceAssignment (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param serviceAssignmentCreate 
   */
  def createServiceAssignment(serviceAssignmentCreate: ServiceAssignmentCreate)(implicit bearerToken: BearerToken): ApiRequest[ServiceAssignment] =
    ApiRequest[ServiceAssignment](ApiMethods.POST, baseUrl, "/api/v1/service-assignments", "application/json")
      .withCredentials(bearerToken).withBody(serviceAssignmentCreate)
      .withSuccessResponse[ServiceAssignment](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteServiceAssignment(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/service-assignments/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ServiceAssignment (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getServiceAssignment(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[ServiceAssignment] =
    ApiRequest[ServiceAssignment](ApiMethods.GET, baseUrl, "/api/v1/service-assignments/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[ServiceAssignment](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ServiceAssignment] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getServiceAssignments(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ServiceAssignment]] =
    ApiRequest[Seq[ServiceAssignment]](ApiMethods.GET, baseUrl, "/api/v1/service-assignments/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[ServiceAssignment]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ServiceAssignment (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param serviceAssignmentUpdate 
   */
  def updateServiceAssignment(id: UUID, serviceAssignmentUpdate: ServiceAssignmentUpdate)(implicit bearerToken: BearerToken): ApiRequest[ServiceAssignment] =
    ApiRequest[ServiceAssignment](ApiMethods.PUT, baseUrl, "/api/v1/service-assignments/{id}", "application/json")
      .withCredentials(bearerToken).withBody(serviceAssignmentUpdate)
      .withPathParam("id", id)
      .withSuccessResponse[ServiceAssignment](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

