/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ShippingRule
import org.openapitools.client.model.ShippingRuleCreate
import org.openapitools.client.model.ShippingRuleUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ShippingRuleApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ShippingRuleApi(baseUrl)
}

class ShippingRuleApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : ShippingRule (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param shippingRuleCreate 
   */
  def createShippingRule(shippingRuleCreate: ShippingRuleCreate)(implicit bearerToken: BearerToken): ApiRequest[ShippingRule] =
    ApiRequest[ShippingRule](ApiMethods.POST, baseUrl, "/api/v1/shipping-rules", "application/json")
      .withCredentials(bearerToken).withBody(shippingRuleCreate)
      .withSuccessResponse[ShippingRule](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param ruleId 
   */
  def deleteShippingRule(ruleId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/shipping-rules/{rule_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("rule_id", ruleId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ShippingRule (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param ruleId 
   */
  def getShippingRule(ruleId: String)(implicit bearerToken: BearerToken): ApiRequest[ShippingRule] =
    ApiRequest[ShippingRule](ApiMethods.GET, baseUrl, "/api/v1/shipping-rules/{rule_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("rule_id", ruleId)
      .withSuccessResponse[ShippingRule](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ShippingRule] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param country 
   */
  def listShippingRules(page: Option[Int] = None, pageSize: Option[Int] = None, country: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ShippingRule]] =
    ApiRequest[Seq[ShippingRule]](ApiMethods.GET, baseUrl, "/api/v1/shipping-rules/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("country", country)
      .withSuccessResponse[Seq[ShippingRule]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ShippingRule (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param ruleId 
   * @param shippingRuleUpdate 
   */
  def updateShippingRule(ruleId: String, shippingRuleUpdate: ShippingRuleUpdate)(implicit bearerToken: BearerToken): ApiRequest[ShippingRule] =
    ApiRequest[ShippingRule](ApiMethods.PUT, baseUrl, "/api/v1/shipping-rules/{rule_id}", "application/json")
      .withCredentials(bearerToken).withBody(shippingRuleUpdate)
      .withPathParam("rule_id", ruleId)
      .withSuccessResponse[ShippingRule](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

