/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.DeliverableResponse
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ShippingThreshold
import org.openapitools.client.model.ShippingThresholdCreate
import org.openapitools.client.model.ShippingThresholdUpdate
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ShippingThresholdApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ShippingThresholdApi(baseUrl)
}

class ShippingThresholdApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : ShippingThreshold (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param shippingThresholdCreate 
   */
  def createShippingThreshold(shippingThresholdCreate: ShippingThresholdCreate)(implicit bearerToken: BearerToken): ApiRequest[ShippingThreshold] =
    ApiRequest[ShippingThreshold](ApiMethods.POST, baseUrl, "/api/v1/shipping-thresholds", "application/json")
      .withCredentials(bearerToken).withBody(shippingThresholdCreate)
      .withSuccessResponse[ShippingThreshold](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param thresholdId 
   */
  def deleteShippingThreshold(thresholdId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/shipping-thresholds/{threshold_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("threshold_id", thresholdId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : DeliverableResponse (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param productId 
   * @param warehouseId 
   */
  def getDeliverable(productId: UUID, warehouseId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[DeliverableResponse] =
    ApiRequest[DeliverableResponse](ApiMethods.GET, baseUrl, "/api/v1/shipping-thresholds/deliverable", "application/json")
      .withCredentials(bearerToken).withQueryParam("productId", productId)
      .withQueryParam("warehouseId", warehouseId)
      .withSuccessResponse[DeliverableResponse](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ShippingThreshold (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param thresholdId 
   */
  def getShippingThreshold(thresholdId: String)(implicit bearerToken: BearerToken): ApiRequest[ShippingThreshold] =
    ApiRequest[ShippingThreshold](ApiMethods.GET, baseUrl, "/api/v1/shipping-thresholds/{threshold_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("threshold_id", thresholdId)
      .withSuccessResponse[ShippingThreshold](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ShippingThreshold] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param productId 
   * @param warehouseId 
   * @param isActive 
   */
  def listShippingThresholds(page: Option[Int] = None, pageSize: Option[Int] = None, productId: Option[UUID] = None, warehouseId: Option[String] = None, isActive: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[ShippingThreshold]] =
    ApiRequest[Seq[ShippingThreshold]](ApiMethods.GET, baseUrl, "/api/v1/shipping-thresholds/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("product_id", productId)
      .withQueryParam("warehouse_id", warehouseId)
      .withQueryParam("is_active", isActive)
      .withSuccessResponse[Seq[ShippingThreshold]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ShippingThreshold (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param thresholdId 
   * @param shippingThresholdUpdate 
   */
  def updateShippingThreshold(thresholdId: String, shippingThresholdUpdate: ShippingThresholdUpdate)(implicit bearerToken: BearerToken): ApiRequest[ShippingThreshold] =
    ApiRequest[ShippingThreshold](ApiMethods.PUT, baseUrl, "/api/v1/shipping-thresholds/{threshold_id}", "application/json")
      .withCredentials(bearerToken).withBody(shippingThresholdUpdate)
      .withPathParam("threshold_id", thresholdId)
      .withSuccessResponse[ShippingThreshold](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

