/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.ProviderInfo
import org.openapitools.client.model.RateRequest
import org.openapitools.client.model.RateResponse
import org.openapitools.client.model.ShippingCredentials
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ShippingApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ShippingApi(baseUrl)
}

class ShippingApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : ShippingCredentials (Configured shipping provider credentials)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getCredentialsApi()(implicit bearerToken: BearerToken): ApiRequest[ShippingCredentials] =
    ApiRequest[ShippingCredentials](ApiMethods.GET, baseUrl, "/api/v1/shipping/credentials", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ShippingCredentials](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : RateResponse (Shipping rates from configured providers)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param rateRequest 
   */
  def getRatesApi(rateRequest: RateRequest)(implicit bearerToken: BearerToken): ApiRequest[RateResponse] =
    ApiRequest[RateResponse](ApiMethods.POST, baseUrl, "/api/v1/shipping/rates", "application/json")
      .withCredentials(bearerToken).withBody(rateRequest)
      .withSuccessResponse[RateResponse](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ProviderInfo] (List of shipping providers)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listProvidersApi()(implicit bearerToken: BearerToken): ApiRequest[Seq[ProviderInfo]] =
    ApiRequest[Seq[ProviderInfo]](ApiMethods.GET, baseUrl, "/api/v1/shipping/providers", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[ProviderInfo]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : ShippingCredentials (Saved shipping provider credentials)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param shippingCredentials 
   */
  def saveCredentialsApi(shippingCredentials: ShippingCredentials)(implicit bearerToken: BearerToken): ApiRequest[ShippingCredentials] =
    ApiRequest[ShippingCredentials](ApiMethods.PUT, baseUrl, "/api/v1/shipping/credentials", "application/json")
      .withCredentials(bearerToken).withBody(shippingCredentials)
      .withSuccessResponse[ShippingCredentials](200)
      .withErrorResponse[PluginError](500)
      



}

