/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CreateShipmentRequest
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.Shipment
import org.openapitools.client.model.ShipmentStatusUpdate
import org.openapitools.client.model.TrackOrderRequest
import org.openapitools.client.model.TrackOrderResponse
import org.openapitools.client.model.TrackingInfo
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ShipmentApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new ShipmentApi(baseUrl)
}

class ShipmentApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Shipment (Shipment created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param shipment 
   */
  def createShipment(shipment: Shipment)(implicit bearerToken: BearerToken): ApiRequest[Shipment] =
    ApiRequest[Shipment](ApiMethods.POST, baseUrl, "/api/v1/shipments", "application/json")
      .withCredentials(bearerToken).withBody(shipment)
      .withSuccessResponse[Shipment](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 201 : Shipment (Shipment created via carrier API)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param orderNumber 
   * @param createShipmentRequest 
   */
  def createShipmentFromOrder(orderNumber: String, createShipmentRequest: CreateShipmentRequest)(implicit bearerToken: BearerToken): ApiRequest[Shipment] =
    ApiRequest[Shipment](ApiMethods.POST, baseUrl, "/api/v1/orders/{order_number}/shipments", "application/json")
      .withCredentials(bearerToken).withBody(createShipmentRequest)
      .withPathParam("order_number", orderNumber)
      .withSuccessResponse[Shipment](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (Shipment deleted)
   *   code 404 : PluginError (Shipment not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param shipmentId 
   */
  def deleteShipment(shipmentId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/shipments/{shipment_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("shipment_id", shipmentId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Shipment (Shipment found)
   *   code 404 : PluginError (Shipment not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param shipmentId 
   */
  def getShipment(shipmentId: String)(implicit bearerToken: BearerToken): ApiRequest[Shipment] =
    ApiRequest[Shipment](ApiMethods.GET, baseUrl, "/api/v1/shipments/{shipment_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("shipment_id", shipmentId)
      .withSuccessResponse[Shipment](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Shipment] (Shipments found)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def listShipments(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Shipment]] =
    ApiRequest[Seq[Shipment]](ApiMethods.GET, baseUrl, "/api/v1/shipments", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[Shipment]](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : TrackOrderResponse (Order tracking info)
   *   code 404 : PluginError (Order not found or email mismatch)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param trackOrderRequest 
   */
  def trackOrderPublic(trackOrderRequest: TrackOrderRequest)(implicit bearerToken: BearerToken): ApiRequest[TrackOrderResponse] =
    ApiRequest[TrackOrderResponse](ApiMethods.POST, baseUrl, "/api/v1/public/track", "application/json")
      .withCredentials(bearerToken).withBody(trackOrderRequest)
      .withSuccessResponse[TrackOrderResponse](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : TrackingInfo (Live tracking info)
   *   code 404 : PluginError (Shipment not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param shipmentId 
   */
  def trackShipmentApi(shipmentId: String)(implicit bearerToken: BearerToken): ApiRequest[TrackingInfo] =
    ApiRequest[TrackingInfo](ApiMethods.GET, baseUrl, "/api/v1/shipments/{shipment_id}/tracking", "application/json")
      .withCredentials(bearerToken).withPathParam("shipment_id", shipmentId)
      .withSuccessResponse[TrackingInfo](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Shipment (Status updated)
   *   code 404 : PluginError (Shipment not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param shipmentId 
   * @param shipmentStatusUpdate 
   */
  def updateShipmentStatus(shipmentId: String, shipmentStatusUpdate: ShipmentStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[Shipment] =
    ApiRequest[Shipment](ApiMethods.PUT, baseUrl, "/api/v1/shipments/{shipment_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(shipmentStatusUpdate)
      .withPathParam("shipment_id", shipmentId)
      .withSuccessResponse[Shipment](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

