/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.SilentPartner
import org.openapitools.client.model.SilentPartnerCreate
import org.openapitools.client.model.SilentPartnerUpdate
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object SilentPartnerApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new SilentPartnerApi(baseUrl)
}

class SilentPartnerApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : SilentPartner (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param silentPartnerCreate 
   */
  def createSilentPartner(silentPartnerCreate: SilentPartnerCreate)(implicit bearerToken: BearerToken): ApiRequest[SilentPartner] =
    ApiRequest[SilentPartner](ApiMethods.POST, baseUrl, "/api/v1/silent-partners", "application/json")
      .withCredentials(bearerToken).withBody(silentPartnerCreate)
      .withSuccessResponse[SilentPartner](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteSilentPartner(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/silent-partners/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : SilentPartner (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def getSilentPartner(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[SilentPartner] =
    ApiRequest[SilentPartner](ApiMethods.GET, baseUrl, "/api/v1/silent-partners/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[SilentPartner](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[SilentPartner] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param search 
   * @param includeDeleted Soft-delete entities: set true to include rows with `deleted_at` set.
   */
  def getSilentPartners(page: Option[Int] = None, pageSize: Option[Int] = None, search: Option[String] = None, includeDeleted: Option[Boolean] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[SilentPartner]] =
    ApiRequest[Seq[SilentPartner]](ApiMethods.GET, baseUrl, "/api/v1/silent-partners/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("search", search)
      .withQueryParam("include_deleted", includeDeleted)
      .withSuccessResponse[Seq[SilentPartner]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : SilentPartner (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param silentPartnerUpdate 
   */
  def updateSilentPartner(id: UUID, silentPartnerUpdate: SilentPartnerUpdate)(implicit bearerToken: BearerToken): ApiRequest[SilentPartner] =
    ApiRequest[SilentPartner](ApiMethods.PUT, baseUrl, "/api/v1/silent-partners/{id}", "application/json")
      .withCredentials(bearerToken).withBody(silentPartnerUpdate)
      .withPathParam("id", id)
      .withSuccessResponse[SilentPartner](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

