/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.StilleExportResponse
import org.openapitools.client.model.StilleReport
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object StilleApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new StilleApi(baseUrl)
}

class StilleApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : StilleExportResponse (Stille Beteiligungen als CSV (BOM, Semikolon))
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def stilleExportApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[StilleExportResponse] =
    ApiRequest[StilleExportResponse](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/stille/export", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[StilleExportResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : StilleReport (Gewinn-/Verlustverteilung an stille Gesellschafter (§§ 230–236 HGB))
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def stilleReportApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[StilleReport] =
    ApiRequest[StilleReport](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/stille/report", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[StilleReport](200)
      



}

