/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import java.time.LocalDate
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.StockMovement
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object StockMovementApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new StockMovementApi(baseUrl)
}

class StockMovementApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : StockMovement (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param movementId 
   */
  def getStockMovement(movementId: String)(implicit bearerToken: BearerToken): ApiRequest[StockMovement] =
    ApiRequest[StockMovement](ApiMethods.GET, baseUrl, "/api/v1/stock-movements/{movement_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("movement_id", movementId)
      .withSuccessResponse[StockMovement](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[StockMovement] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param productId 
   * @param warehouseId 
   * @param movementType 
   * @param from Only movements on or after this date (inclusive).
   * @param to Only movements on or before this date (inclusive).
   */
  def listStockMovements(page: Option[Int] = None, pageSize: Option[Int] = None, productId: Option[UUID] = None, warehouseId: Option[String] = None, movementType: Option[String] = None, from: Option[LocalDate] = None, to: Option[LocalDate] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[StockMovement]] =
    ApiRequest[Seq[StockMovement]](ApiMethods.GET, baseUrl, "/api/v1/stock-movements/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withQueryParam("productId", productId)
      .withQueryParam("warehouseId", warehouseId)
      .withQueryParam("movementType", movementType)
      .withQueryParam("from", from)
      .withQueryParam("to", to)
      .withSuccessResponse[Seq[StockMovement]](200)
      .withErrorResponse[PluginError](500)
      



}

