/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.StockTransfer
import org.openapitools.client.model.StockTransferStatusUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object StockTransferApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new StockTransferApi(baseUrl)
}

class StockTransferApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : StockTransfer (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param stockTransfer 
   */
  def createStockTransfer(stockTransfer: StockTransfer)(implicit bearerToken: BearerToken): ApiRequest[StockTransfer] =
    ApiRequest[StockTransfer](ApiMethods.POST, baseUrl, "/api/v1/stock-transfers", "application/json")
      .withCredentials(bearerToken).withBody(stockTransfer)
      .withSuccessResponse[StockTransfer](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param stockTransferId 
   */
  def deleteStockTransfer(stockTransferId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/stock-transfers/{stock_transfer_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("stock_transfer_id", stockTransferId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : StockTransfer (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param stockTransferId 
   */
  def getStockTransfer(stockTransferId: String)(implicit bearerToken: BearerToken): ApiRequest[StockTransfer] =
    ApiRequest[StockTransfer](ApiMethods.GET, baseUrl, "/api/v1/stock-transfers/{stock_transfer_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("stock_transfer_id", stockTransferId)
      .withSuccessResponse[StockTransfer](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[StockTransfer] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param warehouseId 
   */
  def listStockTransfers(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, warehouseId: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[StockTransfer]] =
    ApiRequest[Seq[StockTransfer]](ApiMethods.GET, baseUrl, "/api/v1/stock-transfers/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("warehouse_id", warehouseId)
      .withSuccessResponse[Seq[StockTransfer]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : StockTransfer (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param stockTransferId 
   * @param stockTransferStatusUpdate 
   */
  def updateStockTransferStatus(stockTransferId: String, stockTransferStatusUpdate: StockTransferStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[StockTransfer] =
    ApiRequest[StockTransfer](ApiMethods.PUT, baseUrl, "/api/v1/stock-transfers/{stock_transfer_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(stockTransferStatusUpdate)
      .withPathParam("stock_transfer_id", stockTransferId)
      .withSuccessResponse[StockTransfer](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

