/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.SupplierInvoice
import org.openapitools.client.model.SupplierInvoiceStatusUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object SupplierInvoiceApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new SupplierInvoiceApi(baseUrl)
}

class SupplierInvoiceApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : SupplierInvoice (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierInvoice 
   */
  def createSupplierInvoice(supplierInvoice: SupplierInvoice)(implicit bearerToken: BearerToken): ApiRequest[SupplierInvoice] =
    ApiRequest[SupplierInvoice](ApiMethods.POST, baseUrl, "/api/v1/supplier-invoices", "application/json")
      .withCredentials(bearerToken).withBody(supplierInvoice)
      .withSuccessResponse[SupplierInvoice](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierInvoiceId 
   */
  def deleteSupplierInvoice(supplierInvoiceId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/supplier-invoices/{supplier_invoice_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("supplier_invoice_id", supplierInvoiceId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : SupplierInvoice (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierInvoiceId 
   */
  def getSupplierInvoice(supplierInvoiceId: String)(implicit bearerToken: BearerToken): ApiRequest[SupplierInvoice] =
    ApiRequest[SupplierInvoice](ApiMethods.GET, baseUrl, "/api/v1/supplier-invoices/{supplier_invoice_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("supplier_invoice_id", supplierInvoiceId)
      .withSuccessResponse[SupplierInvoice](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[SupplierInvoice] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param status 
   * @param purchaseOrderId 
   * @param supplierName 
   */
  def listSupplierInvoices(page: Option[Int] = None, pageSize: Option[Int] = None, status: Option[String] = None, purchaseOrderId: Option[String] = None, supplierName: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[SupplierInvoice]] =
    ApiRequest[Seq[SupplierInvoice]](ApiMethods.GET, baseUrl, "/api/v1/supplier-invoices/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("status", status)
      .withQueryParam("purchase_order_id", purchaseOrderId)
      .withQueryParam("supplier_name", supplierName)
      .withSuccessResponse[Seq[SupplierInvoice]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : SupplierInvoice (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierInvoiceId 
   * @param body 
   */
  def updateSupplierInvoice(supplierInvoiceId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[SupplierInvoice] =
    ApiRequest[SupplierInvoice](ApiMethods.PUT, baseUrl, "/api/v1/supplier-invoices/{supplier_invoice_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("supplier_invoice_id", supplierInvoiceId)
      .withSuccessResponse[SupplierInvoice](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : SupplierInvoice (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierInvoiceId 
   * @param supplierInvoiceStatusUpdate 
   */
  def updateSupplierInvoiceStatus(supplierInvoiceId: String, supplierInvoiceStatusUpdate: SupplierInvoiceStatusUpdate)(implicit bearerToken: BearerToken): ApiRequest[SupplierInvoice] =
    ApiRequest[SupplierInvoice](ApiMethods.PUT, baseUrl, "/api/v1/supplier-invoices/{supplier_invoice_id}/status", "application/json")
      .withCredentials(bearerToken).withBody(supplierInvoiceStatusUpdate)
      .withPathParam("supplier_invoice_id", supplierInvoiceId)
      .withSuccessResponse[SupplierInvoice](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

