/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CreateChannelDto
import org.openapitools.client.model.SupportChannel
import java.util.UUID
import org.openapitools.client.model.UpdateChannelDto
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object SupportChannelApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new SupportChannelApi(baseUrl)
}

class SupportChannelApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : SupportChannel (Channel created)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param createChannelDto 
   */
  def createChannelApi(createChannelDto: CreateChannelDto)(implicit bearerToken: BearerToken): ApiRequest[SupportChannel] =
    ApiRequest[SupportChannel](ApiMethods.POST, baseUrl, "/api/v1/support/channels", "application/json")
      .withCredentials(bearerToken).withBody(createChannelDto)
      .withSuccessResponse[SupportChannel](201)
      

  /**
   * Expected answers:
   *   code 204 :  (Channel deleted)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param channelId 
   */
  def deleteChannelApi(channelId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/support/channels/{channel_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("channel_id", channelId)
      .withSuccessResponse[Unit](204)
      

  /**
   * Expected answers:
   *   code 200 : Seq[SupportChannel] (List of channels)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listChannelsApi()(implicit bearerToken: BearerToken): ApiRequest[Seq[SupportChannel]] =
    ApiRequest[Seq[SupportChannel]](ApiMethods.GET, baseUrl, "/api/v1/support/channels", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[SupportChannel]](200)
      

  /**
   * Expected answers:
   *   code 200 : SupportChannel (Channel updated)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param channelId 
   * @param updateChannelDto 
   */
  def updateChannelApi(channelId: UUID, updateChannelDto: UpdateChannelDto)(implicit bearerToken: BearerToken): ApiRequest[SupportChannel] =
    ApiRequest[SupportChannel](ApiMethods.PUT, baseUrl, "/api/v1/support/channels/{channel_id}", "application/json")
      .withCredentials(bearerToken).withBody(updateChannelDto)
      .withPathParam("channel_id", channelId)
      .withSuccessResponse[SupportChannel](200)
      



}

