/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CreateTicketRequest
import org.openapitools.client.model.SupportTicket
import org.openapitools.client.model.SupportTicketUpdate
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object SupportTicketApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new SupportTicketApi(baseUrl)
}

class SupportTicketApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : SupportTicket (Ticket created)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param createTicketRequest 
   */
  def createTicketApi(createTicketRequest: CreateTicketRequest)(implicit bearerToken: BearerToken): ApiRequest[SupportTicket] =
    ApiRequest[SupportTicket](ApiMethods.POST, baseUrl, "/api/v1/support/tickets", "application/json")
      .withCredentials(bearerToken).withBody(createTicketRequest)
      .withSuccessResponse[SupportTicket](201)
      

  /**
   * Expected answers:
   *   code 204 :  (Ticket deleted)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param ticketId 
   */
  def deleteTicketApi(ticketId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/support/tickets/{ticket_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("ticket_id", ticketId)
      .withSuccessResponse[Unit](204)
      

  /**
   * Expected answers:
   *   code 200 : SupportTicket (Ticket detail)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param ticketId 
   */
  def getTicketApi(ticketId: UUID)(implicit bearerToken: BearerToken): ApiRequest[SupportTicket] =
    ApiRequest[SupportTicket](ApiMethods.GET, baseUrl, "/api/v1/support/tickets/{ticket_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("ticket_id", ticketId)
      .withSuccessResponse[SupportTicket](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[SupportTicket] (Tickets list)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param status 
   * @param priority 
   * @param assignedTo 
   * @param channelType 
   * @param customerId 
   * @param search 
   * @param page 
   * @param pageSize 
   */
  def listTicketsApi(status: Option[String] = None, priority: Option[String] = None, assignedTo: Option[UUID] = None, channelType: Option[String] = None, customerId: Option[String] = None, search: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[SupportTicket]] =
    ApiRequest[Seq[SupportTicket]](ApiMethods.GET, baseUrl, "/api/v1/support/tickets", "application/json")
      .withCredentials(bearerToken).withQueryParam("status", status)
      .withQueryParam("priority", priority)
      .withQueryParam("assigned_to", assignedTo)
      .withQueryParam("channel_type", channelType)
      .withQueryParam("customer_id", customerId)
      .withQueryParam("search", search)
      .withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withSuccessResponse[Seq[SupportTicket]](200)
      

  /**
   * Expected answers:
   *   code 200 : SupportTicket (Ticket updated)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param ticketId 
   * @param supportTicketUpdate 
   */
  def updateTicketApi(ticketId: UUID, supportTicketUpdate: SupportTicketUpdate)(implicit bearerToken: BearerToken): ApiRequest[SupportTicket] =
    ApiRequest[SupportTicket](ApiMethods.PUT, baseUrl, "/api/v1/support/tickets/{ticket_id}", "application/json")
      .withCredentials(bearerToken).withBody(supportTicketUpdate)
      .withPathParam("ticket_id", ticketId)
      .withSuccessResponse[SupportTicket](200)
      



}

