/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.SupplierCondition
import org.openapitools.client.model.SupplierConditionCreate
import org.openapitools.client.model.SupplierConditionUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object SupplierConditionApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new SupplierConditionApi(baseUrl)
}

class SupplierConditionApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : SupplierCondition (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierConditionCreate 
   */
  def createSupplierCondition(supplierConditionCreate: SupplierConditionCreate)(implicit bearerToken: BearerToken): ApiRequest[SupplierCondition] =
    ApiRequest[SupplierCondition](ApiMethods.POST, baseUrl, "/api/v1/supplier-conditions", "application/json")
      .withCredentials(bearerToken).withBody(supplierConditionCreate)
      .withSuccessResponse[SupplierCondition](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierConditionId 
   */
  def deleteSupplierCondition(supplierConditionId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/supplier-conditions/{supplier_condition_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("supplier_condition_id", supplierConditionId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : SupplierCondition (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierConditionId 
   */
  def getSupplierCondition(supplierConditionId: String)(implicit bearerToken: BearerToken): ApiRequest[SupplierCondition] =
    ApiRequest[SupplierCondition](ApiMethods.GET, baseUrl, "/api/v1/supplier-conditions/{supplier_condition_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("supplier_condition_id", supplierConditionId)
      .withSuccessResponse[SupplierCondition](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[SupplierCondition] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param supplierContactId 
   * @param search 
   */
  def listSupplierConditions(page: Option[Int] = None, pageSize: Option[Int] = None, supplierContactId: Option[String] = None, search: Option[String] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[SupplierCondition]] =
    ApiRequest[Seq[SupplierCondition]](ApiMethods.GET, baseUrl, "/api/v1/supplier-conditions/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("supplier_contact_id", supplierContactId)
      .withQueryParam("search", search)
      .withSuccessResponse[Seq[SupplierCondition]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : SupplierCondition (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param supplierConditionId 
   * @param supplierConditionUpdate 
   */
  def updateSupplierCondition(supplierConditionId: String, supplierConditionUpdate: SupplierConditionUpdate)(implicit bearerToken: BearerToken): ApiRequest[SupplierCondition] =
    ApiRequest[SupplierCondition](ApiMethods.PUT, baseUrl, "/api/v1/supplier-conditions/{supplier_condition_id}", "application/json")
      .withCredentials(bearerToken).withBody(supplierConditionUpdate)
      .withPathParam("supplier_condition_id", supplierConditionId)
      .withSuccessResponse[SupplierCondition](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

