/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.TaxRateCreate
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TaxApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new TaxApi(baseUrl)
}

class TaxApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 :  (Tax rate created)
   *   code 400 :  (Invalid body)
   *   code 403 :  (Missing admin:settings permission)
   *   code 409 :  (Default rate for the country already exists)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param taxRateCreate 
   */
  def createTaxRate(taxRateCreate: TaxRateCreate)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/v1/tax-rates", "application/json")
      .withCredentials(bearerToken).withBody(taxRateCreate)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](403)
      .withErrorResponse[Unit](409)
      

  /**
   * Expected answers:
   *   code 200 :  (Tax rate deleted)
   *   code 403 :  (Missing admin:settings permission)
   *   code 404 :  (Tax rate not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   */
  def deleteTaxRate(id: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/tax-rates/{id}", "application/json")
      .withCredentials(bearerToken).withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](403)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 :  (Tenant's tax rates)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listTaxRates()(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/api/v1/tax-rates", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Tax rate updated)
   *   code 400 :  (Invalid body)
   *   code 403 :  (Missing admin:settings permission)
   *   code 404 :  (Tax rate not found)
   *   code 409 :  (Default rate for the country already exists)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param taxRateCreate 
   */
  def updateTaxRate(id: UUID, taxRateCreate: TaxRateCreate)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/api/v1/tax-rates/{id}", "application/json")
      .withCredentials(bearerToken).withBody(taxRateCreate)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](403)
      .withErrorResponse[Unit](404)
      .withErrorResponse[Unit](409)
      



}

