/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.SendMessageDto
import org.openapitools.client.model.TicketMessage
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TicketMessageApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new TicketMessageApi(baseUrl)
}

class TicketMessageApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[TicketMessage] (Messages for a ticket)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param ticketId 
   */
  def listMessagesApi(ticketId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Seq[TicketMessage]] =
    ApiRequest[Seq[TicketMessage]](ApiMethods.GET, baseUrl, "/api/v1/support/tickets/{ticket_id}/messages", "application/json")
      .withCredentials(bearerToken).withPathParam("ticket_id", ticketId)
      .withSuccessResponse[Seq[TicketMessage]](200)
      

  /**
   * Expected answers:
   *   code 201 : TicketMessage (Message sent)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param ticketId 
   * @param sendMessageDto 
   */
  def sendMessageApi(ticketId: UUID, sendMessageDto: SendMessageDto)(implicit bearerToken: BearerToken): ApiRequest[TicketMessage] =
    ApiRequest[TicketMessage](ApiMethods.POST, baseUrl, "/api/v1/support/tickets/{ticket_id}/messages", "application/json")
      .withCredentials(bearerToken).withBody(sendMessageDto)
      .withPathParam("ticket_id", ticketId)
      .withSuccessResponse[TicketMessage](201)
      



}

