/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.LaborCostRow
import java.time.LocalDate
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.TimeEntryClockIn
import org.openapitools.client.model.TimeEntryClockOut
import org.openapitools.client.model.TimeEntryDto
import java.util.UUID
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TimeEntriesApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new TimeEntriesApi(baseUrl)
}

class TimeEntriesApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : TimeEntryDto (Created)
   *   code 400 : PluginError (No employee profile for this user)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param timeEntryClockIn 
   */
  def clockInTimeEntry(timeEntryClockIn: TimeEntryClockIn)(implicit bearerToken: BearerToken): ApiRequest[TimeEntryDto] =
    ApiRequest[TimeEntryDto](ApiMethods.POST, baseUrl, "/api/v1/time-entries", "application/json")
      .withCredentials(bearerToken).withBody(timeEntryClockIn)
      .withSuccessResponse[TimeEntryDto](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : TimeEntryDto (OK)
   *   code 400 : PluginError (Bad request)
   *   code 403 : PluginError (Forbidden)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param id 
   * @param timeEntryClockOut 
   */
  def clockOutTimeEntry(id: UUID, timeEntryClockOut: TimeEntryClockOut)(implicit bearerToken: BearerToken): ApiRequest[TimeEntryDto] =
    ApiRequest[TimeEntryDto](ApiMethods.PATCH, baseUrl, "/api/v1/time-entries/{id}", "application/json")
      .withCredentials(bearerToken).withBody(timeEntryClockOut)
      .withPathParam("id", id)
      .withSuccessResponse[TimeEntryDto](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](403)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[LaborCostRow] (OK)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param from 
   * @param to 
   * @param groupBy One of \"employee\", \"order\" or \"day\".
   */
  def getLaborCosts(from: LocalDate, to: LocalDate, groupBy: String)(implicit bearerToken: BearerToken): ApiRequest[Seq[LaborCostRow]] =
    ApiRequest[Seq[LaborCostRow]](ApiMethods.GET, baseUrl, "/api/v1/labor-costs", "application/json")
      .withCredentials(bearerToken).withQueryParam("from", from)
      .withQueryParam("to", to)
      .withQueryParam("group_by", groupBy)
      .withSuccessResponse[Seq[LaborCostRow]](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[TimeEntryDto] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param from 
   * @param to 
   * @param active Only currently running shifts (clock_in set, clock_out null).
   * @param employeeId 
   */
  def listTimeEntries(from: Option[LocalDate] = None, to: Option[LocalDate] = None, active: Option[Boolean] = None, employeeId: Option[UUID] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[TimeEntryDto]] =
    ApiRequest[Seq[TimeEntryDto]](ApiMethods.GET, baseUrl, "/api/v1/time-entries", "application/json")
      .withCredentials(bearerToken).withQueryParam("from", from)
      .withQueryParam("to", to)
      .withQueryParam("active", active)
      .withQueryParam("employee_id", employeeId)
      .withSuccessResponse[Seq[TimeEntryDto]](200)
      .withErrorResponse[PluginError](500)
      



}

