/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.HrTrainingOverview
import org.openapitools.client.model.MyTrainingItem
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.SubmitResultDto
import org.openapitools.client.model.SubmitResultResponse
import org.openapitools.client.model.TrainingContent
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TrainingsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new TrainingsApi(baseUrl)
}

class TrainingsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[MyTrainingItem] (Required trainings for the current employee)
   *   code 404 : PluginError (No employee linked to user)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getMyTrainings()(implicit bearerToken: BearerToken): ApiRequest[Seq[MyTrainingItem]] =
    ApiRequest[Seq[MyTrainingItem]](ApiMethods.GET, baseUrl, "/api/v1/trainings/me", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[MyTrainingItem]](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : TrainingContent (Interactive training content for the frontend player)
   *   code 404 : PluginError (Unknown training code)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param code Training code, e.g. data_privacy
   */
  def getTrainingContent(code: String)(implicit bearerToken: BearerToken): ApiRequest[TrainingContent] =
    ApiRequest[TrainingContent](ApiMethods.GET, baseUrl, "/api/v1/trainings/content/{code}", "application/json")
      .withCredentials(bearerToken).withPathParam("code", code)
      .withSuccessResponse[TrainingContent](200)
      .withErrorResponse[PluginError](404)
      

  /**
   * Expected answers:
   *   code 200 : Seq[HrTrainingOverview] (HR overview of assigned trainings)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def getTrainingOverview()(implicit bearerToken: BearerToken): ApiRequest[Seq[HrTrainingOverview]] =
    ApiRequest[Seq[HrTrainingOverview]](ApiMethods.GET, baseUrl, "/api/v1/trainings/overview", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[HrTrainingOverview]](200)
      

  /**
   * Expected answers:
   *   code 200 : SubmitResultResponse (Result recorded)
   *   code 400 : PluginError (Invalid score or training)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param submitResultDto 
   */
  def submitTrainingResult(submitResultDto: SubmitResultDto)(implicit bearerToken: BearerToken): ApiRequest[SubmitResultResponse] =
    ApiRequest[SubmitResultResponse](ApiMethods.POST, baseUrl, "/api/v1/trainings/submit-result", "application/json")
      .withCredentials(bearerToken).withBody(submitResultDto)
      .withSuccessResponse[SubmitResultResponse](200)
      .withErrorResponse[PluginError](400)
      



}

