/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.TenantUser
import java.util.UUID
import org.openapitools.client.model.UpdatePermissionsPayload
import org.openapitools.client.model.UpdateRolePayload
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UserManagementApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new UserManagementApi(baseUrl)
}

class UserManagementApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : TenantUser (OK)
   *   code 403 :  (Forbidden)
   *   code 404 :  (Not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param userId 
   */
  def getUser(userId: UUID)(implicit bearerToken: BearerToken): ApiRequest[TenantUser] =
    ApiRequest[TenantUser](ApiMethods.GET, baseUrl, "/api/v1/users/{user_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("user_id", userId)
      .withSuccessResponse[TenantUser](200)
      .withErrorResponse[Unit](403)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : Seq[TenantUser] (OK)
   *   code 403 :  (Forbidden)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listUsers()(implicit bearerToken: BearerToken): ApiRequest[Seq[TenantUser]] =
    ApiRequest[Seq[TenantUser]](ApiMethods.GET, baseUrl, "/api/v1/users", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[TenantUser]](200)
      .withErrorResponse[Unit](403)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 403 :  (Forbidden)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param userId 
   */
  def removeUser(userId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/users/{user_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("user_id", userId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[Unit](403)
      

  /**
   * Expected answers:
   *   code 200 :  (OK)
   *   code 403 :  (Forbidden)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param userId 
   * @param updatePermissionsPayload 
   */
  def updateUserPermissions(userId: UUID, updatePermissionsPayload: UpdatePermissionsPayload)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/api/v1/users/{user_id}/permissions", "application/json")
      .withCredentials(bearerToken).withBody(updatePermissionsPayload)
      .withPathParam("user_id", userId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](403)
      

  /**
   * Expected answers:
   *   code 200 :  (OK)
   *   code 403 :  (Forbidden)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param userId 
   * @param updateRolePayload 
   */
  def updateUserRole(userId: UUID, updateRolePayload: UpdateRolePayload)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/api/v1/users/{user_id}/role", "application/json")
      .withCredentials(bearerToken).withBody(updateRolePayload)
      .withPathParam("user_id", userId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](403)
      



}

