/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ApiResponseString
import org.openapitools.client.model.ApiResponseTeam
import org.openapitools.client.model.ApiResponseUserProfile
import org.openapitools.client.model.ApiResponseVecTeam
import org.openapitools.client.model.ApiResponseVecUserTenantInfo
import org.openapitools.client.model.ChangePasswordRequest
import org.openapitools.client.model.InviteRequest
import org.openapitools.client.model.RemoveUserRequest
import org.openapitools.client.model.TeamCreate
import org.openapitools.client.model.UpdateProfileRequest
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UserApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new UserApi(baseUrl)
}

class UserApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 :  (Password changed)
   *   code 400 :  (Wrong current password or weak new password)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param changePasswordRequest 
   */
  def changePassword(changePasswordRequest: ChangePasswordRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/user/change-password", "application/json")
      .withCredentials(bearerToken).withBody(changePasswordRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      

  /**
   * Expected answers:
   *   code 200 : ApiResponseTeam (Team created)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param teamCreate 
   */
  def createTeam(teamCreate: TeamCreate)(implicit bearerToken: BearerToken): ApiRequest[ApiResponseTeam] =
    ApiRequest[ApiResponseTeam](ApiMethods.POST, baseUrl, "/user/teams", "application/json")
      .withCredentials(bearerToken).withBody(teamCreate)
      .withSuccessResponse[ApiResponseTeam](200)
      

  /**
   * Expected answers:
   *   code 200 : ApiResponseString (API key generated)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def generateApiKey()(implicit bearerToken: BearerToken): ApiRequest[ApiResponseString] =
    ApiRequest[ApiResponseString](ApiMethods.POST, baseUrl, "/user/api-key", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ApiResponseString](200)
      

  /**
   * Expected answers:
   *   code 200 :  (Invitation sent)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param inviteRequest 
   */
  def inviteUser(inviteRequest: InviteRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/user/invite", "application/json")
      .withCredentials(bearerToken).withBody(inviteRequest)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 : ApiResponseVecTeam (List of teams)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listTeams()(implicit bearerToken: BearerToken): ApiRequest[ApiResponseVecTeam] =
    ApiRequest[ApiResponseVecTeam](ApiMethods.GET, baseUrl, "/user/teams", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ApiResponseVecTeam](200)
      

  /**
   * Expected answers:
   *   code 200 :  (User removed)
   *   code 401 :  (Unauthorized)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param removeUserRequest 
   */
  def removeUserFromOrg(removeUserRequest: RemoveUserRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/user/remove", "application/json")
      .withCredentials(bearerToken).withBody(removeUserRequest)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](401)
      

  /**
   * Expected answers:
   *   code 200 :  (Profile updated)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param updateProfileRequest 
   */
  def updateProfile(updateProfileRequest: UpdateProfileRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/user/profile", "application/json")
      .withCredentials(bearerToken).withBody(updateProfileRequest)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 : ApiResponseUserProfile (User profile)
   *   code 404 :  (User not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def userProfile()(implicit bearerToken: BearerToken): ApiRequest[ApiResponseUserProfile] =
    ApiRequest[ApiResponseUserProfile](ApiMethods.GET, baseUrl, "/user/profile", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ApiResponseUserProfile](200)
      .withErrorResponse[Unit](404)
      

  /**
   * Expected answers:
   *   code 200 : ApiResponseVecUserTenantInfo (List of tenants)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def userTenants()(implicit bearerToken: BearerToken): ApiRequest[ApiResponseVecUserTenantInfo] =
    ApiRequest[ApiResponseVecUserTenantInfo](ApiMethods.GET, baseUrl, "/user/tenants", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[ApiResponseVecUserTenantInfo](200)
      



}

