/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.JahresUstErgebnis
import org.openapitools.client.model.UstvaErgebnis
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UstvaApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new UstvaApi(baseUrl)
}

class UstvaApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : JahresUstErgebnis (Jahresumsatzsteuer Ergebnis)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param year 
   */
  def jahresustApi(year: Int)(implicit bearerToken: BearerToken): ApiRequest[JahresUstErgebnis] =
    ApiRequest[JahresUstErgebnis](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/jahresust", "application/json")
      .withCredentials(bearerToken).withQueryParam("year", year)
      .withSuccessResponse[JahresUstErgebnis](200)
      

  /**
   * Expected answers:
   *   code 200 : UstvaErgebnis (UStVA Ergebnis)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param zeitraum 
   */
  def ustvaApi(zeitraum: String)(implicit bearerToken: BearerToken): ApiRequest[UstvaErgebnis] =
    ApiRequest[UstvaErgebnis](ApiMethods.GET, baseUrl, "/api/v1/bookkeeping/ustva", "application/json")
      .withCredentials(bearerToken).withQueryParam("zeitraum", zeitraum)
      .withSuccessResponse[UstvaErgebnis](200)
      



}

