/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AnyType
import java.time.LocalDate
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.Voucher
import org.openapitools.client.model.VoucherCreate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object VoucherApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new VoucherApi(baseUrl)
}

class VoucherApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : Voucher (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param voucherCreate 
   */
  def createVoucher(voucherCreate: VoucherCreate)(implicit bearerToken: BearerToken): ApiRequest[Voucher] =
    ApiRequest[Voucher](ApiMethods.POST, baseUrl, "/api/v1/vouchers", "application/json")
      .withCredentials(bearerToken).withBody(voucherCreate)
      .withSuccessResponse[Voucher](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param voucherId 
   */
  def deleteVoucher(voucherId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/vouchers/{voucher_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("voucher_id", voucherId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Voucher (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param voucherId 
   */
  def getVoucher(voucherId: String)(implicit bearerToken: BearerToken): ApiRequest[Voucher] =
    ApiRequest[Voucher](ApiMethods.GET, baseUrl, "/api/v1/vouchers/{voucher_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("voucher_id", voucherId)
      .withSuccessResponse[Voucher](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[Voucher] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param page 
   * @param pageSize 
   * @param voucherType 
   * @param voucherStatus 
   * @param contactName 
   * @param dateFrom 
   * @param dateTo 
   */
  def listVouchers(page: Option[Int] = None, pageSize: Option[Int] = None, voucherType: Option[String] = None, voucherStatus: Option[String] = None, contactName: Option[String] = None, dateFrom: Option[LocalDate] = None, dateTo: Option[LocalDate] = None)(implicit bearerToken: BearerToken): ApiRequest[Seq[Voucher]] =
    ApiRequest[Seq[Voucher]](ApiMethods.GET, baseUrl, "/api/v1/vouchers/", "application/json")
      .withCredentials(bearerToken).withQueryParam("page", page)
      .withQueryParam("page_size", pageSize)
      .withQueryParam("voucher_type", voucherType)
      .withQueryParam("voucher_status", voucherStatus)
      .withQueryParam("contact_name", contactName)
      .withQueryParam("date_from", dateFrom)
      .withQueryParam("date_to", dateTo)
      .withSuccessResponse[Seq[Voucher]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Voucher (OK)
   *   code 400 : PluginError (Bad request)
   *   code 404 : PluginError (Voucher not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param voucherId 
   * @param body 
   */
  def updateVoucher(voucherId: String, body: AnyType)(implicit bearerToken: BearerToken): ApiRequest[Voucher] =
    ApiRequest[Voucher](ApiMethods.PUT, baseUrl, "/api/v1/vouchers/{voucher_id}", "application/json")
      .withCredentials(bearerToken).withBody(body)
      .withPathParam("voucher_id", voucherId)
      .withSuccessResponse[Voucher](200)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Voucher (Restored)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param voucherId 
   */
  def voucherRestore(voucherId: String)(implicit bearerToken: BearerToken): ApiRequest[Voucher] =
    ApiRequest[Voucher](ApiMethods.POST, baseUrl, "/api/v1/vouchers/{voucher_id}/restore", "application/json")
      .withCredentials(bearerToken).withPathParam("voucher_id", voucherId)
      .withSuccessResponse[Voucher](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

