/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.StockAdjustment
import java.util.UUID
import org.openapitools.client.model.WarehouseStock
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object WarehouseStockApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new WarehouseStockApi(baseUrl)
}

class WarehouseStockApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : WarehouseStock (Created)
   *   code 400 : PluginError (Bad request)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param warehouseId 
   * @param stockAdjustment 
   */
  def createWarehouseStock(warehouseId: String, stockAdjustment: StockAdjustment)(implicit bearerToken: BearerToken): ApiRequest[WarehouseStock] =
    ApiRequest[WarehouseStock](ApiMethods.POST, baseUrl, "/api/v1/warehouses/{warehouse_id}/stock", "application/json")
      .withCredentials(bearerToken).withBody(stockAdjustment)
      .withPathParam("warehouse_id", warehouseId)
      .withSuccessResponse[WarehouseStock](201)
      .withErrorResponse[PluginError](400)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param warehouseId 
   * @param productId 
   */
  def deleteWarehouseStock(warehouseId: String, productId: UUID)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/warehouses/{warehouse_id}/stock/{product_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("warehouse_id", warehouseId)
      .withPathParam("product_id", productId)
      .withSuccessResponse[Unit](204)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Seq[WarehouseStock] (OK)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param warehouseId 
   */
  def listWarehouseStock(warehouseId: String)(implicit bearerToken: BearerToken): ApiRequest[Seq[WarehouseStock]] =
    ApiRequest[Seq[WarehouseStock]](ApiMethods.GET, baseUrl, "/api/v1/warehouses/{warehouse_id}/stock", "application/json")
      .withCredentials(bearerToken).withPathParam("warehouse_id", warehouseId)
      .withSuccessResponse[Seq[WarehouseStock]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : WarehouseStock (OK)
   *   code 404 : PluginError (Not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param warehouseId 
   * @param productId 
   * @param stockAdjustment 
   */
  def updateWarehouseStock(warehouseId: String, productId: UUID, stockAdjustment: StockAdjustment)(implicit bearerToken: BearerToken): ApiRequest[WarehouseStock] =
    ApiRequest[WarehouseStock](ApiMethods.PUT, baseUrl, "/api/v1/warehouses/{warehouse_id}/stock/{product_id}", "application/json")
      .withCredentials(bearerToken).withBody(stockAdjustment)
      .withPathParam("warehouse_id", warehouseId)
      .withPathParam("product_id", productId)
      .withSuccessResponse[WarehouseStock](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

