/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CreateSubscriptionRequest
import org.openapitools.client.model.EmitEventRequest
import org.openapitools.client.model.PluginError
import org.openapitools.client.model.UpdateSubscriptionRequest
import org.openapitools.client.model.WebhookEvent
import org.openapitools.client.model.WebhookSubscription
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object WebhooksApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new WebhooksApi(baseUrl)
}

class WebhooksApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 201 : WebhookSubscription (Created)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param createSubscriptionRequest 
   */
  def createSubscription(createSubscriptionRequest: CreateSubscriptionRequest)(implicit bearerToken: BearerToken): ApiRequest[WebhookSubscription] =
    ApiRequest[WebhookSubscription](ApiMethods.POST, baseUrl, "/api/v1/webhook-subscriptions", "application/json")
      .withCredentials(bearerToken).withBody(createSubscriptionRequest)
      .withSuccessResponse[WebhookSubscription](201)
      

  /**
   * Expected answers:
   *   code 204 :  (No Content)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param subscriptionId 
   */
  def deleteSubscription(subscriptionId: String)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/api/v1/webhook-subscriptions/{subscription_id}", "application/json")
      .withCredentials(bearerToken).withPathParam("subscription_id", subscriptionId)
      .withSuccessResponse[Unit](204)
      

  /**
   * Expected answers:
   *   code 200 :  (Emitted)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param emitEventRequest 
   */
  def emitApi(emitEventRequest: EmitEventRequest)(implicit bearerToken: BearerToken): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/api/v1/webhooks/emit", "application/json")
      .withCredentials(bearerToken).withBody(emitEventRequest)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[WebhookEvent] (OK)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listEvent()(implicit bearerToken: BearerToken): ApiRequest[Seq[WebhookEvent]] =
    ApiRequest[Seq[WebhookEvent]](ApiMethods.GET, baseUrl, "/api/v1/webhook-events", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[WebhookEvent]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[WebhookSubscription] (OK)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listSubscriptions()(implicit bearerToken: BearerToken): ApiRequest[Seq[WebhookSubscription]] =
    ApiRequest[Seq[WebhookSubscription]](ApiMethods.GET, baseUrl, "/api/v1/webhook-subscriptions", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[WebhookSubscription]](200)
      

  /**
   * Expected answers:
   *   code 200 : WebhookSubscription (OK)
   *   code 404 : PluginError (Not found)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param subscriptionId 
   * @param updateSubscriptionRequest 
   */
  def updateSubscription(subscriptionId: String, updateSubscriptionRequest: UpdateSubscriptionRequest)(implicit bearerToken: BearerToken): ApiRequest[WebhookSubscription] =
    ApiRequest[WebhookSubscription](ApiMethods.PUT, baseUrl, "/api/v1/webhook-subscriptions/{subscription_id}", "application/json")
      .withCredentials(bearerToken).withBody(updateSubscriptionRequest)
      .withPathParam("subscription_id", subscriptionId)
      .withSuccessResponse[WebhookSubscription](200)
      .withErrorResponse[PluginError](404)
      



}

