/**
 * SimpleBilly API
 * Simplebilly API - Bookkeeping, CRM, ERP. Multi-tenant API: a tenant is isolated and routed by subdomain (or a configured custom domain) under the base domain.  ## Rate limiting All endpoints are rate-limited per client IP: **100 requests per minute** on API routes and **5 requests per minute** on authentication routes. Exceeding a limit returns `429 Too Many Requests`; the window resets after 60 seconds.
 *
 * The version of the OpenAPI document: 0.1.0
 * Contact: support@simplebilly.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PluginError
import org.openapitools.client.model.Workflow
import org.openapitools.client.model.WorkflowEnabledUpdate
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object WorkflowsApi {

  def apply(baseUrl: String = "https://demo.simplebilly.com") = new WorkflowsApi(baseUrl)
}

class WorkflowsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Seq[Workflow] (Workflows (seeded with defaults on first access))
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   */
  def listWorkflowsApi()(implicit bearerToken: BearerToken): ApiRequest[Seq[Workflow]] =
    ApiRequest[Seq[Workflow]](ApiMethods.GET, baseUrl, "/api/v1/workflows", "application/json")
      .withCredentials(bearerToken).withSuccessResponse[Seq[Workflow]](200)
      .withErrorResponse[PluginError](500)
      

  /**
   * Expected answers:
   *   code 200 : Workflow (Workflow enabled state updated)
   *   code 404 : PluginError (Workflow not found)
   *   code 500 : PluginError (Internal server error)
   * 
   * Available security schemes:
   *   bearer_token (http)
   * 
   * @param workflowId 
   * @param workflowEnabledUpdate 
   */
  def setWorkflowEnabledApi(workflowId: String, workflowEnabledUpdate: WorkflowEnabledUpdate)(implicit bearerToken: BearerToken): ApiRequest[Workflow] =
    ApiRequest[Workflow](ApiMethods.PUT, baseUrl, "/api/v1/workflows/{workflow_id}/enabled", "application/json")
      .withCredentials(bearerToken).withBody(workflowEnabledUpdate)
      .withPathParam("workflow_id", workflowId)
      .withSuccessResponse[Workflow](200)
      .withErrorResponse[PluginError](404)
      .withErrorResponse[PluginError](500)
      



}

